# List

- list defination
- insert, append
- pop, del, remove
- "+" concatination
- slicing

In [1]:
cities = ["Atlanta", "Baltimore", "Chicago",\
"Denver", "Los Angeles", "Seattle"]

In [2]:
cities[0]

'Atlanta'

In [3]:
cities[5]

'Seattle'

In [4]:
cities.append("New York")

In [5]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York']

In [6]:
cities.append(47)

In [7]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 47]

In [8]:
cities = cities + ["Dubuque", "New Orleans"]
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 47,
 'Dubuque',
 'New Orleans']

In [9]:
todays_tasks = []

In [10]:
todays_tasks

[]

In [11]:
todays_tasks = todays_tasks + ["Walk dog", "Buy groceries"]
todays_tasks

['Walk dog', 'Buy groceries']

In [12]:
cities[0] 
cities[1] 
cities[2] 
cities[3] 
cities[4] 
cities[5]

'Seattle'

In [13]:
cities.insert(2, "Karachi")
cities

['Atlanta',
 'Baltimore',
 'Karachi',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 47,
 'Dubuque',
 'New Orleans']

In [14]:
cities[20]

IndexError: list index out of range

In [15]:
cities.insert(25, "Lahor")

In [16]:
cities

['Atlanta',
 'Baltimore',
 'Karachi',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 47,
 'Dubuque',
 'New Orleans',
 'Lahor']

In [17]:
cities[11] = "Islamabad"
cities

['Atlanta',
 'Baltimore',
 'Karachi',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 47,
 'Dubuque',
 'New Orleans',
 'Islamabad']

# Slicing
- list[start:end:step]
    - start (inclusive)
    - end (exclusive)
    - step (number of element which we will take)

- list[slide,rows,columns] (we will cover from next book)

In [18]:
cities

['Atlanta',
 'Baltimore',
 'Karachi',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 47,
 'Dubuque',
 'New Orleans',
 'Islamabad']

Traditional Method for slicing

In [20]:
for i in range(2,8):
    print(cities[i])

Karachi
Chicago
Denver
Los Angeles
Seattle
New York

In [21]:
cities[2:8]

['Karachi', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York']

In [23]:
print(cities)
print(cities[::2])

['Atlanta', 'Baltimore', 'Karachi', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York', 47, 'Dubuque', 'New Orleans', 'Islamabad']
['Atlanta', 'Karachi', 'Denver', 'Seattle', 47, 'New Orleans']

# Lists: Taking slices out of them

In [27]:
cities = ["Atlanta", "Baltimore", "Chicago",\
"Denver", "Los Angeles", "Seattle"]
cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [26]:
smaller_list_of_cities = cities[2:5]
smaller_list_of_cities

['Chicago', 'Denver', 'Los Angeles']

In [28]:
cities[1:1:1]

[]

In [29]:
cities[0:0]

[]

In [31]:
print(cities)
print(cities[:5])

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']
['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles']

In [32]:
smaller_list_of_cities = cities[2:]
print(cities)
print(smaller_list_of_cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']
['Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [33]:
smaller_list_of_cities = cities[2:5]
print(cities)
print(smaller_list_of_cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']
['Chicago', 'Denver', 'Los Angeles']

# 18 Lists: Deleting and removing elements

In [34]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]
tasks

['email Frank', 'call Sarah', 'meet with Zach']

In [35]:
del tasks[0]
tasks

['call Sarah', 'meet with Zach']

In [37]:
del tasks[222222:28888888]
tasks

['call Sarah', 'meet with Zach']

In [38]:
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [39]:
cities.remove("Chicago")
cities

['Atlanta', 'Baltimore', 'Denver', 'Los Angeles', 'Seattle']

# 19 Lists: popping elements

In [40]:
tasks = ["email Frank", "call Sarah", "meet withZach"]
tasks

['email Frank', 'call Sarah', 'meet withZach']

In [41]:
latest_task_accomplished = tasks.pop(1)

In [44]:
print(tasks)
print(latest_task_accomplished)

['email Frank', 'meet withZach']
call Sarah

In [46]:
tasks_accomplished=[]

tasks_accomplished.append(tasks.pop(1))
tasks_accomplished

['meet withZach']

In [47]:
tasks

['email Frank']

In [48]:
names = ["Qasim","Owais","Hamza","Junaid","Rashid","Konain"]
names

['Qasim', 'Owais', 'Hamza', 'Junaid', 'Rashid', 'Konain']

In [49]:
names.append("Ali")
names

['Qasim', 'Owais', 'Hamza', 'Junaid', 'Rashid', 'Konain', 'Ali']

In [50]:
names.insert(1, "Imran Khan")
names

['Qasim', 'Imran Khan', 'Owais', 'Hamza', 'Junaid', 'Rashid', 'Konain', 'Ali']

In [51]:
del names[5]
names

['Qasim', 'Imran Khan', 'Owais', 'Hamza', 'Junaid', 'Konain', 'Ali']

In [54]:
select_students=[]
select_students.append(names.pop(3))
names

['Qasim', 'Imran Khan', 'Owais', 'Konain', 'Ali']

In [55]:
select_students

['Junaid']

In [56]:
select_students.append(names.pop())
names

['Qasim', 'Imran Khan', 'Owais', 'Konain']

In [57]:
select_students

['Junaid', 'Ali']

In [58]:
names

['Qasim', 'Imran Khan', 'Owais', 'Konain']

In [60]:
names[0]=names[1]=names[3]="Pakistan zinda bad"
names

['Pakistan zinda bad', 'Pakistan zinda bad', 'Owais', 'Pakistan zinda bad']

In [61]:
names[-1]

'Pakistan zinda bad'

In [62]:
names[-2]

'Owais'

In [63]:
names[::-1]

['Pakistan zinda bad', 'Owais', 'Pakistan zinda bad', 'Pakistan zinda bad']

In [76]:
a = list(range(1,100))
a[::2]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]