# Topic covers
- operator
- if
- else
- elif
- and, or,
- dictionary, keys: values, del ...

## comparison

In [ ]:
5 == 5 
#equal

In [ ]:
4==3 
#equal

In [ ]:
4 != 3 
#notequal

In [ ]:
5>6 
#greater than

In [ ]:
5 >= 5 
# greater then equal

In [ ]:
6<7 
#less then

In [ ]:
4 <= 3
# Less then equal

if Logic_testing :
    Value_is_TRUE
else:
    Value_is_FALSE

Value_is_TRUE if Logic_testing else Value_is_FALSE

In [ ]:
if True:
    print("pakistan")
else:
    print("India")

In [ ]:
print("UIT") if True else print("UIT2")

In [ ]:
day = 14
if day==14:
    print("pakistan")
else:
    print("India")

# Chapter 9

In [ ]:
species = "cat"

if species == "cat":
    print("Yep, it's cat.")

In [ ]:
if species == "cat":
 print("Yep, it's cat.")

In [ ]:
if day == 16:
    print("Pakistan zinda bad")
    print("Jashne Azadi Mubarukh")
    print("We lover our country")
    
print("Pakistani....")

In [ ]:
if 2 + 2 == 4:
    print("Everything makes sense.")

In [ ]:
number_of_wifs = 1

if number_of_wifs == 1:
    print("So far so good.")
    print("Congratulations.")
    print("All done")

# Chapter 11 else and elif statements

In [ ]:
if species == "cat":
 print("Yep, it's cat.")
if species != "cat":
 print("Nope, not cat.")

In [ ]:
if species == 'cat':
    print('Yep, it\'cat.')
else:
    print("Nope, not cat.")

In [ ]:
per = 70

In [ ]:
if per >= 80:
    print("A+")
elif per >=70:
    print("A")
elif per >=60:
    print("B")
elif per >= 50:
    print("C")
else:
    print("Fail")

In [ ]:
if per > 0:
    print("Fail")
elif per >=50 and per<60:
    print("C")
elif per >=60 and per<70:
    print("A")

In [ ]:
per=75
if 70 >= per < 80:
    print ("A")
else:
    print("not in the condition")

In [ ]:
80 >= per >60

In [ ]:
per >60

In [ ]:
80 >= True

In [ ]:
per = 2000
if per >= 80:
    print("A+")
elif per >=70:
    print("A")
elif per >=60:
    print("B")
elif per >= 50:
    print("C")
else:
    print("Fail")

In [ ]:
per = 5000
if per >= 80 and per <=100:
    print("A+")
elif per >=70 and per <80:
    print("A")
elif per >=60 and per <70:
    print("B")
elif per >= 50 and per < 60:
    print("C")
else:
    print("Fail")

In [ ]:
user = '03152968211' # name, cell 03152968211 , email: m.qasim077@gmail.com
password = '123'

if (user=='qasim' or user=='03152968211' or user=='m.qasim077@gmail.com') and password=='123':
    print("VAlid user")
else:
    print("NOt valid")

# Chapter 25 Dictionaries: What they are

In [ ]:
my_cats = ["Draco", "Bellatrix", "Voldemort"]

In [ ]:
print(my_cats[0])

In [ ]:
student_001 = {
    'name':'Osama',
    'fname':'Rizwan',
    'age':20,
    'education':['Matric','Master']
}

In [ ]:
student_001.values()

In [ ]:
student_001.keys()

In [ ]:
student_001.items()

In [ ]:
student_001

In [ ]:
student_001[0]

In [ ]:
student_001['age']

In [ ]:
student_001['name']

In [ ]:
student_001['education']

In [ ]:
student_001['education'][1]

In [ ]:
student_002 = {
    'name':'Ali',
    'fname':'Hamza',
    'age':22,
    'education':['Matric','Master'],
    5: "pakistan",
    6: "China"
}
student_002[5]

In [ ]:
student_002["Salary"] = 50000

In [ ]:
student_002

In [ ]:
student_002["Salary"] = "500"

In [ ]:
student_002

In [ ]:
del student_002[6]

In [ ]:
student_002

In [ ]:
l = list(range(1,100))
l

In [ ]:
for i in l:
    print(i)

In [ ]:
a=[1,5,6] *2
a

In [ ]:
[x*2 for x in a]

In [ ]:
for x in student_001.keys():
    print(x)

In [ ]:
for x in student_001.values():
    print(x)

In [ ]:
for k , v in student_001.items():
    print(k,"======",v)

In [ ]:
a

In [ ]:
6 in a

In [ ]:
50 in a

In [ ]:
a = input("Enter Value")