# Chapter 25

- Dictionary like list
    - key
    - value

data=['value1','value2']

student_001 = {
    'key1':'value1',
    'key2':'value2'
}

In [1]:
my_cats = ["Draco", "Bellatrix", "Voldemort"]
print(my_cats[0])

Draco

Customer 29876's first name: David
Customer 29876's last name: Elliott
Customer 29876's address: 4803 Wellesley St.
Customer 29876's city: Toronto
Customer 29876's province: ON
Customer 29876's country: Canada
Customer 29876's postal code: M7A1N3

## Chapter 26

In [2]:
customer_29876 = {"first name": "David", "lastname": "Elliott", "address": "4803 Wellesley St."}

This structure is similar to the code for creating a list.
Both begin with a variable name and equal sign:

In [ ]:
jobs_to_do_1st = ["email", "texting", "calls"]

customer_29876 = {"first name": "David", "lastname": "Elliott", "address": "4803 Wellesley St."}

- Things are separated by commas: <b>,</b>
- list start <b>[</b> and end <b>]</b>
- Dictionary satar <b>{</b> and end <b>}</b>
    - Key <b>:</b> Value

notice that in this example, all the values are strings, enclosed in
quotation marks, and so are all the keys:

## 27 Dictionaries: How to pick information out of them

In [3]:
customer_29876 = {"first name": "David", 
                  "lastname": "Elliott", 
                  "address": "4803 Wellesley St."
                 }

The dictionary comprises three pairs:
key is "first name", value is "David"
key is "last name", value is "Elliott"
key is "address", value is "4803 Wellesley St."

city_to_check = cities[3]

In [4]:
address_of_customer = customer_29876["address"]
address_of_customer

'4803 Wellesley St.'

## 28 Dictionaries: The versatility of keys and values

In [5]:
customer_29876 = {"first name": "David", 
                  "lastname": "Elliott", 
                  "address": "4803 Wellesley St."}

The values are strings, too:

But keys don't have to be strings. They can be numbers:

In [6]:
rankings = {5: "Finland", 
            2: "Norway", 
            3: "Sweden",
            7: "Iceland"}

# To pick out a value, you use the number:
rankings[2]

'Norway'

Values can be numbers, too:

In [7]:
country_ranks_so_far = {"Finland": 5, 
                        "Norway": 2,
                        "Sweden": 3, 
                        "Iceland": 7}

country_ranks_so_far["Norway"]

2

You can mix strings and numbers any way you want.

In [8]:
things_to_remember = {0: "the lowest number", 
                      "adozen": 12, 
                      "snake eyes": "a pair of ones", 
                      13: "abaker's dozen"}

key is the number 0, value is the string "the lowest number"
key is the string "a dozen", value is the number 12
key is the string "snake eyes", value is the string "a pair of ones"
key is the number 13, value is the string "a baker's dozen"

## 29 Dictionaries: Adding items

In [9]:
customer_29876["address"]

'4803 Wellesley St.'

- You begin with the name of the dictionary…
- …then you write the key, enclosed in square brackets…

In [10]:
customer_29876["address"]

'4803 Wellesley St.'

key is "first name", value is "David"
key is "last name", value is "Elliott"
key is "address", value is "4803 Wellesley St."

You can add a new pair by writing…

In [11]:
customer_29876["city"] = "Toronto"

In [12]:
things_to_remember = {
    0: "the lowest number",
    "a dozen": 12,
    "snake eyes": "a pair of ones",
    13: "a baker's dozen",
}

In [13]:
things_to_remember = {}

In [14]:
things_to_remember[0] = "the lowest number"
things_to_remember["a dozen"] = 12
things_to_remember

{0: 'the lowest number', 'a dozen': 12}

## 30 Dictionaries: Removing and changing items

del tasks[0]

…you may be able to guess how to delete a key-value pair from a dictionary:

In [15]:
customer_29876

{'address': '4803 Wellesley St.',
 'city': 'Toronto',
 'first name': 'David',
 'lastname': 'Elliott'}

In [17]:
a={'address': '4803 Wellesley St.',
 'city': 'Toronto',
 'first name': 'David',
 'lastname': 'Elliott'}
a

{'address': '4803 Wellesley St.',
 'city': 'Toronto',
 'first name': 'David',
 'lastname': 'Elliott'}

In [18]:
del customer_29876["address"]

customer_29876

{'city': 'Toronto', 'first name': 'David', 'lastname': 'Elliott'}

In [19]:
#cities[2] = "Houston"
customer_29876["city"] = "Winipeg"

## 31 Dictionaries: Looping through values

In [20]:
customer_29876 = {"first name": "David", 
                  "last name": "Elliott", 
                  "address": "4803 Wellesley St."}

In [21]:
print(customer_29876["first name"])
print(customer_29876["last name"])
print(customer_29876["address"])

David
Elliott
4803 Wellesley St.

In [22]:
cleanest_cities = ['KARACHI','LAHORE','ISLAMABAD']
cleanest_cities

['KARACHI', 'LAHORE', 'ISLAMABAD']

In [23]:
for a_clean_city in cleanest_cities:
    print(a_clean_city)

KARACHI
LAHORE
ISLAMABAD

In [26]:
[c+'2' for c in cleanest_cities]

['KARACHI2', 'LAHORE2', 'ISLAMABAD2']

In [27]:
customer_29876

{'address': '4803 Wellesley St.',
 'first name': 'David',
 'last name': 'Elliott'}

In [28]:
for each_value in customer_29876.values():
    print(each_value)

David
Elliott
4803 Wellesley St.

## 32 Dictionaries: Looping through keys

In [29]:
customer_29876 = {
"first name": "David",
"last name": "Elliott",
"address": "4803 Wellesley St.",
}

In [30]:
for each_key in customer_29876.keys():
    print(each_key)

first name
last name
address

## 33 Dictionaries: Looping through keyvalue pairs

In [31]:
customer_29876 = {
"first name": "David",
"last name": "Elliott",
"address": "4803 Wellesley St.",
}

In [34]:
a,b = [25,89]
print(a)
print(b)
a=500
print(b)

25
89
89

In [35]:
for k, v in customer_29876.items():
    print("The customer's " + k + " is " +v)

The customer's first name is David
The customer's last name is Elliott
The customer's address is 4803 Wellesley St.

## 34 Creating a list of dictionaries

In [36]:
customer_29876 = {
 "first name": "David",
 "last name": "Elliott",
 "address": "4803 Wellesley St.",
}

In [37]:
customer_ids = [101, 102, 103]

In [38]:
customers = [
 {
 "customer id": 0,
 "first name":"John",
 "last name": "Ogden",
 "address": "301 Arbor Rd.",
 },
 {
 "customer id": 1,
 "first name":"Ann",
 "last name": "Sattermyer",
 "address": "PO Box 1145",
 },
 {
 "customer id": 2,
 "first name":"Jill",
 "last name": "Somers",
 "address": "3 Main St.",
 }
]

customers

[{'address': '301 Arbor Rd.',
  'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden'},
 {'address': 'PO Box 1145',
  'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer'},
 {'address': '3 Main St.',
  'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers'}]

In [39]:
customers[1]

{'address': 'PO Box 1145',
 'customer id': 1,
 'first name': 'Ann',
 'last name': 'Sattermyer'}

In [40]:
customers[1]['first name']

'Ann'

## 35 How to pick information out of a list of dictionaries

In [41]:
customers = [
{
"customer id": 0,
"first name":"John",
"last name": "Ogden",
"address": "301 Arbor Rd.",
},
{
"customer id": 1,
"first name":"Ann",
"last name": "Sattermyer",
    "address": "PO Box 1145",
},
{
"customer id": 2,
"first name":"Jill",
"last name": "Somers",
"address": "3 Main St.",
},
]

customers

[{'address': '301 Arbor Rd.',
  'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden'},
 {'address': 'PO Box 1145',
  'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer'},
 {'address': '3 Main St.',
  'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers'}]

In [46]:
dictionary_to_look_in=customers[2]
dictionary_to_look_in

{'address': '3 Main St.',
 'customer id': 2,
 'first name': 'Jill',
 'last name': 'Somers'}

In [47]:
dictionary_to_look_in["address"]

'3 Main St.'

## 36 How to append a new dictionary to a list of dictionaries

In [48]:
new_customer_id = len(customers)
new_customer_id

3

In [49]:
new_dictionary = {
"customer id": new_customer_id,
"first name": 'qasim',
"last name": 'qasim',
"address": 'karachi',
}

In [50]:
customers.append(new_dictionary)
customers

[{'address': '301 Arbor Rd.',
  'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden'},
 {'address': 'PO Box 1145',
  'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer'},
 {'address': '3 Main St.',
  'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers'},
 {'address': 'karachi',
  'customer id': 3,
  'first name': 'qasim',
  'last name': 'qasim'}]

## 37 Creating a dictionary that contains lists

In [51]:
customer_29876 = {
"first name": "David",
"last name": "Elliott",
"address": "4803 Wellesley St.",
}
customer_29876

{'address': '4803 Wellesley St.',
 'first name': 'David',
 'last name': 'Elliott'}

In [52]:
customer_29876 = {
"first name": "David",
"last name": "Elliott",
"address": "4803 Wellesley St.",
"discounts": ["standard", "volume", "loyalty"],
}
customer_29876

{'address': '4803 Wellesley St.',
 'discounts': ['standard', 'volume', 'loyalty'],
 'first name': 'David',
 'last name': 'Elliott'}

Line 5 uses the syntax you already know for creating a list. It's the list name
followed by a colon…

## 38 How to get information out of a list within a dictionary

These are the discounts:
brother-in-law – 30%
loyalty – 15%
volume – 10%
standard – 5%
To find out which discount to give customer_29876, we go through
the list of discounts named "discounts" in the dictionary customer_29876.
We look for each discount in turn, starting with the largest one, the brother-inlaw
discount. When we find a discount, the search stops, and that's the discount
we apply.
This code introduces you to a new way to use the keyword in:

In [54]:
if "brother-in-law" in customer_29876["discounts"]:
    discount_amount = .30
elif "loyalty" in customer_29876["discounts"]:
    discount_amount = .15
elif "volume" in customer_29876["discounts"]:
    discount_amount = .10
elif "standard" in customer_29876["discounts"]:
    discount_amount = .05

In [55]:
customer_29876['discounts']

['standard', 'volume', 'loyalty']

In [56]:
discount_amount

0.15

Since "loyalty" is found in the list within the customer_29876
dictionary, the 15% discount is applied.

## 39 Creating a dictionary that contains a dictionary

In [57]:
customers = [
{
"customer id": 0,
"first name":"John",
"last name": "Ogden",
"address": "301 Arbor Rd.",
},
{
"customer id": 1,
"first name":"Ann",
"last name": "Sattermyer",
    "address": "PO Box 1145",
},
{
"customer id": 2,
"first name":"Jill",
"last name": "Somers",
"address": "3 Main St.",
},
]

customers

[{'address': '301 Arbor Rd.',
  'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden'},
 {'address': 'PO Box 1145',
  'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer'},
 {'address': '3 Main St.',
  'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers'}]

In [58]:
customers = {
{
"customer id": 0,
"first name":"John",
"last name": "Ogden",
"address": "301 Arbor Rd.",
},
{
"customer id": 1,
"first name":"Ann",
"last name": "Sattermyer",
    "address": "PO Box 1145",
},
{
"customer id": 2,
"first name":"Jill",
"last name": "Somers",
"address": "3 Main St.",
},
}
customers

TypeError: unhashable type: 'dict'

In [59]:
customers = {
1:{
"first name":"John",
"last name": "Ogden",
"address": "301 Arbor Rd.",
},
2:{
"first name":"Ann",
"last name": "Sattermyer",
    "address": "PO Box 1145",
},
3:{
"first name":"Jill",
"last name": "Somers",
"address": "3 Main St.",
},
}

customers

{1: {'address': '301 Arbor Rd.', 'first name': 'John', 'last name': 'Ogden'},
 2: {'address': 'PO Box 1145', 'first name': 'Ann', 'last name': 'Sattermyer'},
 3: {'address': '3 Main St.', 'first name': 'Jill', 'last name': 'Somers'}}

In [60]:
customers = {
"johnog": {
"first name":"John",
"last name": "Ogden",
"address": "301 Arbor Rd.",
},
"coder1200": {
"first name":"Ann",
"last name": "Sattermyer",
"address": "PO Box 1145",
},
"madmaxine": {
"first name":"Jill",
"last name": "Somers",
"address": "3 Main St.",
},
}
customers

{'coder1200': {'address': 'PO Box 1145',
  'first name': 'Ann',
  'last name': 'Sattermyer'},
 'johnog': {'address': '301 Arbor Rd.',
  'first name': 'John',
  'last name': 'Ogden'},
 'madmaxine': {'address': '3 Main St.',
  'first name': 'Jill',
  'last name': 'Somers'}}

## 40 How to get information out of adictionary within another dictionary

In [61]:
customers = {
1:{
"first name":"John",
"last name": "Ogden",
"address": "301 Arbor Rd.",
},
2:{
"first name":"Ann",
"last name": "Sattermyer",
    "address": "PO Box 1145",
},
3:{
"first name":"Jill",
"last name": "Somers",
"address": "3 Main St.",
},
}

customers[2]

{'address': 'PO Box 1145', 'first name': 'Ann', 'last name': 'Sattermyer'}

In [62]:
customers[2]['address']

'PO Box 1145'