In [1]:
import pandas as pd

In [4]:
data={
    'date':['2018-11-04 15:56:20']
}

data=pd.DataFrame(data)
data

                  date
0  2018-11-04 15:56:20

In [5]:
data.dtypes

date    object
dtype: object

In [6]:
data.date=pd.to_datetime(data.date)
data.dtypes

date    datetime64[ns]
dtype: object

0    2018-11-04
Name: date, dtype: object