Data types
 Array types
 Type conversions
 Array creation
 Indexing
 Slicing
 Shape manipulation

In [1]:
import numpy as np
a = np.arange(5)
print(a.dtype)

int32

In [2]:
a

array([0, 1, 2, 3, 4])

In [3]:
a.shape

(5,)

In [4]:
m = np.array([np.arange(2), np.arange(2)])
m

array([[0, 1],
       [0, 1]])

In [5]:
m.shape

(2, 2)

In [6]:
help(np.array)

Help on built-in function array in module numpy.core.multiarray:

array(...)
    array(object, dtype=None, copy=True, order='K', subok=False, ndmin=0)

    Create an array.

    Parameters
    ----------
    object : array_like
        An array, any object exposing the array interface, an object whose
        __array__ method returns an array, or any (nested) sequence.
    dtype : data-type, optional
        The desired data-type for the array.  If not given, then the type will
        be determined as the minimum type required to hold the objects in the
        sequence.  This argument can only be used to 'upcast' the array.  For
        downcasting, use the .astype(t) method.
    copy : bool, optional
        If true (default), then the object is copied.  Otherwise, a copy will
        only be made if __array__ returns a copy, if obj is a nested sequence,
        or if a copy is needed to satisfy any of the other requirements
        (`dtype`, `order`, etc.).
    order : {'K', 'A', 'C', 'F'}, optional
        Specify the memory layout of the array. If object is not an array, the
        newly created array will be in C order (row major) unless 'F' is
        specified, in which case it will be in Fortran order (column major).
        If object is an array the following holds.

        ===== ========= ===================================================
        order  no copy                     copy=True
        ===== ========= ===================================================
        'K'   unchanged F & C order preserved, otherwise most similar order
        'A'   unchanged F order if input is F and not C, otherwise C order
        'C'   C order   C order
        'F'   F order   F order
        ===== ========= ===================================================

        When ``copy=False`` and a copy is made for other reasons, the result is
        the same as if ``copy=True``, with some exceptions for `A`, see the
        Notes section. The default order is 'K'.
    subok : bool, optional
        If True, then sub-classes will be passed-through, otherwise
        the returned array will be forced to be a base-class array (default).
    ndmin : int, optional
        Specifies the minimum number of dimensions that the resulting
        array should have.  Ones will be pre-pended to the shape as
        needed to meet this requirement.

    Returns
    -------
    out : ndarray
        An array object satisfying the specified requirements.

    See Also
    --------
    empty, empty_like, zeros, zeros_like, ones, ones_like, full, full_like

    Notes
    -----
    When order is 'A' and `object` is an array in neither 'C' nor 'F' order,
    and a copy is forced by a change in dtype, then the order of the result is
    not necessarily 'C' as expected. This is likely a bug.

    Examples
    --------
    >>> np.array([1, 2, 3])
    array([1, 2, 3])

    Upcasting:

    >>> np.array([1, 2, 3.0])
    array([ 1.,  2.,  3.])

    More than one dimension:

    >>> np.array([[1, 2], [3, 4]])
    array([[1, 2],
           [3, 4]])

    Minimum dimensions 2:

    >>> np.array([1, 2, 3], ndmin=2)
    array([[1, 2, 3]])

    Type provided:

    >>> np.array([1, 2, 3], dtype=complex)
    array([ 1.+0.j,  2.+0.j,  3.+0.j])

    Data-type consisting of more than one element:

    >>> x = np.array([(1,2),(3,4)],dtype=[('a','<i4'),('b','<i4')])
    >>> x['a']
    array([1, 3])

    Creating an array from sub-classes:

    >>> np.array(np.mat('1 2; 3 4'))
    array([[1, 2],
           [3, 4]])

    >>> np.array(np.mat('1 2; 3 4'), subok=True)
    matrix([[1, 2],
            [3, 4]])

In [118]:
np.array?

In [8]:
a = np.array([[1,2],[3,4]])
a

array([[1, 2],
       [3, 4]])

In [9]:
print(a[0,0])
print(a[0,1])
print(a[1,0])
print(a[1,1])

1
2
3
4

In [10]:
np.float64(43)

43.0

In [11]:
np.int8(42.0)

42

In [12]:
np.bool(42)

True

In [13]:
np.float(True)

1.0

In [14]:
np.float(False)

0.0

In [15]:
np.arange(7, dtype=float)

array([0., 1., 2., 3., 4., 5., 6.])

In [16]:
a.dtype.itemsize

4

In [17]:
a.itemsize

4

Type Character code
Integer i
Unsigned integer u
Single precision float f
Double precision float d
Boolean b
Complex D
String S
Unicode U
Void V

# All Data Types

In [18]:
np.sctypeDict.keys()

dict_keys(['?', 0, 'byte', 'b', 1, 'ubyte', 'B', 2, 'short', 'h', 3, 'ushort', 'H', 4, 'i', 5, 'uint', 'I', 6, 'intp', 'p', 9, 'uintp', 'P', 10, 'long', 'l', 7, 'L', 8, 'longlong', 'q', 'ulonglong', 'Q', 'half', 'e', 23, 'f', 11, 'double', 'd', 12, 'longdouble', 'g', 13, 'cfloat', 'F', 14, 'cdouble', 'D', 15, 'clongdouble', 'G', 16, 'O', 17, 'S', 18, 'unicode', 'U', 19, 'void', 'V', 20, 'M', 21, 'm', 22, 'bool8', 'Bool', 'b1', 'float16', 'Float16', 'f2', 'float32', 'Float32', 'f4', 'float64', 'Float64', 'f8', 'complex64', 'Complex32', 'c8', 'complex128', 'Complex64', 'c16', 'object0', 'Object0', 'bytes0', 'Bytes0', 'str0', 'Str0', 'void0', 'Void0', 'datetime64', 'Datetime64', 'M8', 'timedelta64', 'Timedelta64', 'm8', 'int32', 'uint32', 'Int32', 'UInt32', 'i4', 'u4', 'int64', 'uint64', 'Int64', 'UInt64', 'i8', 'u8', 'int16', 'uint16', 'Int16', 'UInt16', 'i2', 'u2', 'int8', 'uint8', 'Int8', 'UInt8', 'i1', 'u1', 'complex_', 'int0', 'uint0', 'single', 'csingle', 'singlecomplex', 'float_', 'intc', 'uintc', 'int_', 'longfloat', 'clongfloat', 'longcomplex', 'bool_', 'unicode_', 'object_', 'bytes_', 'str_', 'string_', 'int', 'float', 'complex', 'bool', 'object', 'str', 'bytes', 'a'])

In [19]:
np.dtype(float)

dtype('float64')

In [20]:
t=np.dtype('Float64')
t.char

C:\Users\Muhammad Qasim\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Numeric-style type codes are deprecated and will result in an error in the future.
  """Entry point for launching an IPython kernel.

'd'

In [21]:
a.dtype

dtype('int32')

In [22]:
a.dtype.type

numpy.int32

In [23]:
t.str

'<f8'

# Time for action – creating a record data type
The record data type is a heterogeneous data type—think of it as representing a row in a
spreadsheet or a database. To give an example of a record data type, we will create a record
for a shop inventory. The record contains the name of the item, a 40-character string, the
number of items in the store represented by a 32-bit integer, and, finally, a price represented
by a 32-bit float. These consecutive steps show how to create a record data type:

In [24]:
 t = np.dtype([('name', np.str_, 40), ('numitems', np.int32), ('price',
np.float32)])
t

dtype([('name', '<U40'), ('numitems', '<i4'), ('price', '<f4')])

In [25]:
t['name']

dtype('<U40')

In [26]:
a = np.arange(9)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [27]:
a[3:7]

array([3, 4, 5, 6])

In [28]:
a[:7:2]

array([0, 2, 4, 6])

In [29]:
a[::-1]

array([8, 7, 6, 5, 4, 3, 2, 1, 0])

# To illustrate, create an array with the arange() function and reshape it:

In [30]:
b=np.arange(24).reshape(2,6,2)
b

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5],
        [ 6,  7],
        [ 8,  9],
        [10, 11]],

       [[12, 13],
        [14, 15],
        [16, 17],
        [18, 19],
        [20, 21],
        [22, 23]]])

In [31]:
b[0,0,1]

1

In [32]:
b=np.arange(24).reshape(2,3,4)
b

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [33]:
print(b)
print(b[:,0,0])

[[[ 0  1  2  3]
  [ 4  5  6  7]
  [ 8  9 10 11]]

 [[12 13 14 15]
  [16 17 18 19]
  [20 21 22 23]]]
[ 0 12]

In [34]:
b[0]

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [35]:
b[0,:,:]

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [36]:
b[0,...]

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [37]:
b[0,1]

array([4, 5, 6, 7])

In [38]:
b[0,1,::2]

array([4, 6])

In [39]:
b[...,1]

array([[ 1,  5,  9],
       [13, 17, 21]])

In [40]:
print(b)
print("Result:",b[:,1])

[[[ 0  1  2  3]
  [ 4  5  6  7]
  [ 8  9 10 11]]

 [[12 13 14 15]
  [16 17 18 19]
  [20 21 22 23]]]
Result: [[ 4  5  6  7]
 [16 17 18 19]]

In [41]:
print(b)
print("=======")
print(b[0,:,1])

[[[ 0  1  2  3]
  [ 4  5  6  7]
  [ 8  9 10 11]]

 [[12 13 14 15]
  [16 17 18 19]
  [20 21 22 23]]]
=======
[1 5 9]

In [42]:
b[0,:,-1]

array([ 3,  7, 11])

In [43]:
b[0,::-1,-1]

array([11,  7,  3])

In [44]:
b[0,::2,-1]

array([ 3, 11])

The command that reverses a one-dimensional array puts the top floor following the
ground floor as follows:

In [45]:
print(b)
print("=========")
print(b[::-1])
b[5:8]

[[[ 0  1  2  3]
  [ 4  5  6  7]
  [ 8  9 10 11]]

 [[12 13 14 15]
  [16 17 18 19]
  [20 21 22 23]]]
=========
[[[12 13 14 15]
  [16 17 18 19]
  [20 21 22 23]]

 [[ 0  1  2  3]
  [ 4  5  6  7]
  [ 8  9 10 11]]]

In [46]:
b

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [47]:
b.ravel()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [48]:
b

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [49]:
b.flatten()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [50]:
b

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [51]:
b.shape=(6,4)
b

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [52]:
b.transpose()

array([[ 0,  4,  8, 12, 16, 20],
       [ 1,  5,  9, 13, 17, 21],
       [ 2,  6, 10, 14, 18, 22],
       [ 3,  7, 11, 15, 19, 23]])

In [53]:
b

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [54]:
b.resize((2,4,3))
b

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8],
        [ 9, 10, 11]],

       [[12, 13, 14],
        [15, 16, 17],
        [18, 19, 20],
        [21, 22, 23]]])

In [55]:
b.resize((2,12))

In [56]:
b

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]])

In [57]:
b.reshape(2,4,3)

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8],
        [ 9, 10, 11]],

       [[12, 13, 14],
        [15, 16, 17],
        [18, 19, 20],
        [21, 22, 23]]])

In [58]:
b

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]])

# Stacking
Arrays can be stacked horizontally, depth wise, or vertically. We can use, for that
purpose, the vstack(), dstack(), hstack(), column_stack(), row_stack(),
and concatenate() functions.

In [59]:
a = np.arange(9).reshape(3,3)
a

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [60]:
b=a*2
b

array([[ 0,  2,  4],
       [ 6,  8, 10],
       [12, 14, 16]])

In [61]:
np.hstack((a,b))

array([[ 0,  1,  2,  0,  2,  4],
       [ 3,  4,  5,  6,  8, 10],
       [ 6,  7,  8, 12, 14, 16]])

In [62]:
np.concatenate((a,b),   axis=1)

array([[ 0,  1,  2,  0,  2,  4],
       [ 3,  4,  5,  6,  8, 10],
       [ 6,  7,  8, 12, 14, 16]])

In [63]:
np.vstack((a,b))

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 0,  2,  4],
       [ 6,  8, 10],
       [12, 14, 16]])

In [64]:
np.concatenate((a,b), axis=0)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 0,  2,  4],
       [ 6,  8, 10],
       [12, 14, 16]])

In [65]:
a

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [66]:
b

array([[ 0,  2,  4],
       [ 6,  8, 10],
       [12, 14, 16]])

In [67]:
np.dstack((a,b))

array([[[ 0,  0],
        [ 1,  2],
        [ 2,  4]],

       [[ 3,  6],
        [ 4,  8],
        [ 5, 10]],

       [[ 6, 12],
        [ 7, 14],
        [ 8, 16]]])

In [68]:
oned = np.arange(2)
oned

array([0, 1])

In [69]:
twice_oned = 2* oned
twice_oned

array([0, 2])

In [70]:
np.column_stack((oned, twice_oned))

array([[0, 0],
       [1, 2]])

In [71]:
a

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [72]:
b

array([[ 0,  2,  4],
       [ 6,  8, 10],
       [12, 14, 16]])

In [73]:
np.column_stack((a,b))

array([[ 0,  1,  2,  0,  2,  4],
       [ 3,  4,  5,  6,  8, 10],
       [ 6,  7,  8, 12, 14, 16]])

In [74]:
np.column_stack((a,b)) == np.hstack((a,b))

array([[ True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True]])

In [75]:
np.row_stack((oned, twice_oned))

array([[0, 1],
       [0, 2]])

In [76]:
np.row_stack((a,b))

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 0,  2,  4],
       [ 6,  8, 10],
       [12, 14, 16]])

In [77]:
np.row_stack((a,b))==np.vstack((a,b))

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

We stacked arrays horizontally, depth wise, and vertically. We used the vstack(),
dstack(), hstack(), column_stack(), row_stack(), and concatenate()
functions as summarized in the following table:
Function Description
vstack() This function stacks arrays vertically
dstack() This function stacks arrays depth-wise along the
third axis
hstack() This function stacks arrays horizontally
column_stack() This function stacks one-dimensional arrays as
columns to create a two-dimensional array
row_stack() This function stacks array vertically
concatenate() This function concatenates a list or a tuple of
arrays

# Splitting
Arrays can be split vertically, horizontally, or depth wise. The functions involved are
hsplit(), vsplit(), dsplit(), and split(). We can either split into arrays of
the same shape or indicate the position after which the split should occur.

In [78]:
a

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [79]:
np.hsplit(a,3)

[array([[0],
        [3],
        [6]]), array([[1],
        [4],
        [7]]), array([[2],
        [5],
        [8]])]

In [80]:
np.split(a,3, axis=1)

[array([[0],
        [3],
        [6]]), array([[1],
        [4],
        [7]]), array([[2],
        [5],
        [8]])]

In [81]:
np.vsplit(a,3)

[array([[0, 1, 2]]), array([[3, 4, 5]]), array([[6, 7, 8]])]

In [82]:
np.split(a,3,axis=0)

[array([[0, 1, 2]]), array([[3, 4, 5]]), array([[6, 7, 8]])]

In [83]:
c=np.arange(27).reshape(3,3,3)

In [84]:
c

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [85]:
np.dsplit(c,3)

[array([[[ 0],
         [ 3],
         [ 6]],

        [[ 9],
         [12],
         [15]],

        [[18],
         [21],
         [24]]]), array([[[ 1],
         [ 4],
         [ 7]],

        [[10],
         [13],
         [16]],

        [[19],
         [22],
         [25]]]), array([[[ 2],
         [ 5],
         [ 8]],

        [[11],
         [14],
         [17]],

        [[20],
         [23],
         [26]]])]

# Array attributes
Besides the shape and dtype attributes, ndarray has a number of other attributes, as
shown in the following list:
 The ndim attribute gives the number of dimensions:

In [86]:
b

array([[ 0,  2,  4],
       [ 6,  8, 10],
       [12, 14, 16]])

In [87]:
b.ndim

2

In [88]:
c.ndim

3

The size attribute contains the number of elements. This is shown as follows:

In [89]:
b.size

9

The itemsize attribute gives the number of bytes for each element in the array

In [90]:
b.itemsize

4

If you want the total number of bytes the array requires, you can have a look at
nbytes. This is just a product of the itemsize and size attributes:

In [91]:
b.nbytes

36

In [92]:
b.size * b.itemsize

36

The T attribute has the same effect as the transpose() function, which is shown
as follows:

In [93]:

b=a*2

In [94]:
b

array([[ 0,  2,  4],
       [ 6,  8, 10],
       [12, 14, 16]])

In [95]:
d=np.arange(24).reshape(2,4,3)
d

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8],
        [ 9, 10, 11]],

       [[12, 13, 14],
        [15, 16, 17],
        [18, 19, 20],
        [21, 22, 23]]])

In [96]:
d.T

array([[[ 0, 12],
        [ 3, 15],
        [ 6, 18],
        [ 9, 21]],

       [[ 1, 13],
        [ 4, 16],
        [ 7, 19],
        [10, 22]],

       [[ 2, 14],
        [ 5, 17],
        [ 8, 20],
        [11, 23]]])

In [97]:
c.ndim

3

In [98]:
b.T

array([[ 0,  6, 12],
       [ 2,  8, 14],
       [ 4, 10, 16]])

In [99]:
b=np.array([1.j+1, 2.j+3])
b

array([1.+1.j, 3.+2.j])

In [100]:
b.real

array([1., 3.])

In [101]:
b.imag

array([1., 2.])

In [102]:
b.dtype

dtype('complex128')

In [103]:
b.dtype.str

'<c16'

In [104]:
b = np.arange(4).reshape(2,2)
b

array([[0, 1],
       [2, 3]])

In [105]:
f=b.flat
f

In [106]:
for item in f: print(item)

0
1
2
3

In [107]:
b.flat[2]

2

it is also possible to directly get multiple elements:

In [108]:
b.flat[[1,3]]

array([1, 3])

In [109]:
b.flat=7

In [110]:
b

array([[7, 7],
       [7, 7]])

In [111]:
b.flat[[1,3]]=1
b

array([[7, 1],
       [7, 1]])

In [112]:
b

array([[7, 1],
       [7, 1]])

In [113]:
b=np.array(([1.+1.j, 3.+2.j]))
b

array([1.+1.j, 3.+2.j])

In [114]:
b.tolist()

[(1+1j), (3+2j)]

In [115]:
b

array([1.+1.j, 3.+2.j])

The astype() function converts the array to an array of the specified type:

In [116]:
b.astype(int)

C:\Users\Muhammad Qasim\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ComplexWarning: Casting complex values to real discards the imaginary part
  """Entry point for launching an IPython kernel.

array([1, 3])

In [117]:
b.astype('complex')

array([1.+1.j, 3.+2.j])