# Topics
- Functions
    - Required Arguments
    - Optional Arguments
    - Return
    - Non Return
    - Defualt Arguments
    - postional Arguments
    - KeyWord Arguments
    - Argument with List
    - Argument with Dictionary 
    - pre defineFunctions
    - User defineFunctions
- Loop
    - for
    - while
    - do while
- input

Function: Set of instruction define in block is called function.

Example set of instructions

In [1]:
print("My Name is Qasim")
print("Education: BSCS")
print("Nationality: Pakistani")

My Name is Qasim
Education: BSCS
Nationality: Pakistani

In [2]:
TecherInfo()

NameError: name 'TecherInfo' is not defined

- Defualt Function
- Non Return Function

In [3]:
def TeacherInfo(): #Dec
    print("UniversityName: UIT") #Body
    print("My Name is Muhammad Qasim")#Body
    print("Education: BSCS")#Body
    print("Nationality: Pakistani")#Body

TeacherInfo()#Call

UniversityName: UIT
My Name is Muhammad Qasim
Education: BSCS
Nationality: Pakistani

In [4]:
TeacherInfo()
TeacherInfo()

UniversityName: UIT
My Name is Muhammad Qasim
Education: BSCS
Nationality: Pakistani
UniversityName: UIT
My Name is Muhammad Qasim
Education: BSCS
Nationality: Pakistani

In [6]:
%time TeacherInfo()

UniversityName: UIT
My Name is Muhammad Qasim
Education: BSCS
Nationality: Pakistani
Wall time: 0 ns

In [7]:
x=TeacherInfo()
print(x)

UniversityName: UIT
My Name is Muhammad Qasim
Education: BSCS
Nationality: Pakistani
None

In [8]:
def abc():
    return "pakistan \n we are pakistani \n we love our country!"

x = abc()
print(x)

pakistan
 we are pakistani
 we love our country!

- Variabl Scope
 - local
 - global

In [9]:
Uni = 'UIT' # global

print(Uni)

def fullName():
    fname="Muhammad" # local
    lname="Qasim" # local
    print(fname," ",Uni)

fullName()
print(fname)

UIT
Muhammad   UIT

NameError: name 'fname' is not defined

- Argument With Required

In [10]:
def Teacher(name, education, nationality):
    print("UniversityName: UIT")
    print("My Name is "+name)
    print("Education: "+education)
    print("Nationality: "+nationality)
    
Teacher("Zia Khan","Master","Pakistani")

UniversityName: UIT
My Name is Zia Khan
Education: Master
Nationality: Pakistani

In [11]:
Teacher("Muhammad Qasim","BSCS","PAK")

UniversityName: UIT
My Name is Muhammad Qasim
Education: BSCS
Nationality: PAK

In [14]:
def fullName1(fname, lname): # function define parameters
    print(fname+" "+lname)
    
fullName1("Muhammad","Qasim") # function calling argument

Muhammad Qasim

In [13]:
fullName = fullName1("Muhammad","Qasim")
print(fullName)

Muhammad Qasim
None

Return Function

In [15]:
def fullName1(fname, lname): # function define argument
    return fname+" "+lname
    
x=fullName1("Muhammad","Qasim") # function calling parameters
print(x)

Muhammad Qasim

In [16]:
fullName1('Muhammad','Osama')

'Muhammad Osama'

In [17]:
fullName1('Muhammad','Osama')

'Muhammad Osama'

In [18]:
fullName1('Qasim')

TypeError: fullName1() missing 1 required positional argument: 'lname'

### With Optional Arguments

In [19]:
def Info(fname,lname,contact="03##-#######"):
    return "FullName: "+fname+" "+lname+' Contact: '+contact

print(Info("Muhammad","Qasim"))
print(Info("Muhammad","Ahmed","0345-2571358"))

FullName: Muhammad Qasim Contact: 03##-#######
FullName: Muhammad Ahmed Contact: 0345-2571358

In [22]:
def abc():
    return 'a','b','c'

x,y,z=abc()
print(x,z,y)

b=abc()
b[0]

a c b

'a'

### Call Function with postional Arguments

In [23]:
Info("Muhammad","Qasim","315-2968211")

'FullName: Muhammad Qasim Contact: 315-2968211'

In [24]:
Info("Qasim",'Muhammad')

'FullName: Qasim Muhammad Contact: 03##-#######'

### KeyWord Argument

In [25]:
Info(contact="0315-1234567",fname="Muhammad", lname="Qasim")

'FullName: Muhammad Qasim Contact: 0315-1234567'

In [27]:
Info(contact="0315-1234567", lname="Qasim",fname="Muhammad")

'FullName: Muhammad Qasim Contact: 0315-1234567'

### Provide Argument values with list

In [28]:
abc =['Muhammd','Qasim','0345-1234567']


print(Info(abc[0],abc[1],abc[2]))

FullName: Muhammd Qasim Contact: 0345-1234567

In [29]:
Info(*abc)

'FullName: Muhammd Qasim Contact: 0345-1234567'

In [30]:
*abc

SyntaxError: can't use starred expression here (<ipython-input-30-9c8daeef2410>, line 1)

In [32]:
l=[1,2,3]

def aa():
    l[0]='abc'
    
aa()
l

['abc', 2, 3]

In [34]:
l={"age":21,"edu":"dropout","name":"isfhan ahmed"}

def myfun(name,age,edu):
    print("my name is "+name+"my age is "+str(age)+"my education is"+edu)
    
myfun(**l)

my name is isfhan ahmedmy age is 21my education isdropout

### Provide Argument Key values with Dictionary

In [35]:
xyz = {'contact':'0315-2968211',
      'fname':'Muhammad',
      'lname':'Qasim'}
Info(xyz['fname'], xyz['lname'], xyz['contact'])

'FullName: Muhammad Qasim Contact: 0315-2968211'

In [36]:
Info(**xyz)

'FullName: Muhammad Qasim Contact: 0315-2968211'

In [37]:
Info(fname="Muhammad", lname="Qasim",contact='0315-1234567')

'FullName: Muhammad Qasim Contact: 0315-1234567'

In [41]:
def xyz():
    pass

xyz()

# Loop
    - for
    - while
    - do while

Repitation of statments or statment
- counter
- control
- increament or Decreament
    - pass (ignore Logic Block)
    - countiune (skip if true)
    - Break (stop if True)

In [42]:
# Repitation of statments
print('Pakistan zinda bad')
print('Pakistan zinda bad')
print('Pakistan zinda bad')

Pakistan zinda bad
Pakistan zinda bad
Pakistan zinda bad

In [44]:
# While Loop
i=5 #counter
while(i<=15): #Controller/Logic
    print("Pakistan zinda bad",i)
    i+=1 #Increment/Decreament

Pakistan zinda bad 5
Pakistan zinda bad 6
Pakistan zinda bad 7
Pakistan zinda bad 8
Pakistan zinda bad 9
Pakistan zinda bad 10
Pakistan zinda bad 11
Pakistan zinda bad 12
Pakistan zinda bad 13
Pakistan zinda bad 14
Pakistan zinda bad 15

In [45]:
for i in list(range(5,100)):
    print('pakistan ',i)
    #print('pAKISTAN {0}'.format(i))
    if i==10:
        break

pakistan  5
pakistan  6
pakistan  7
pakistan  8
pakistan  9
pakistan  10

In [46]:
for i in list(range(10)):
    if i==5:
        continue
    print('pAKISTAN',i)

pAKISTAN 0
pAKISTAN 1
pAKISTAN 2
pAKISTAN 3
pAKISTAN 4
pAKISTAN 6
pAKISTAN 7
pAKISTAN 8
pAKISTAN 9

In [47]:
for i in list(range(10)):
    if i==5:
        break
    print('pAKISTAN',i)

pAKISTAN 0
pAKISTAN 1
pAKISTAN 2
pAKISTAN 3
pAKISTAN 4

In [48]:
for i in list(range(10)):
    if i==5:
        pass
    print('pAKISTAN',i)

pAKISTAN 0
pAKISTAN 1
pAKISTAN 2
pAKISTAN 3
pAKISTAN 4
pAKISTAN 5
pAKISTAN 6
pAKISTAN 7
pAKISTAN 8
pAKISTAN 9

In [49]:
names = ['Qasim','Ahmed','Minhal','Arsalan','Shahryar']

i=0
while(i<len(names)):
    print(names[i])
    i+=1

Qasim
Ahmed
Minhal
Arsalan
Shahryar

In [51]:
names

['Qasim', 'Ahmed', 'Minhal', 'Arsalan', 'Shahryar']

In [50]:
for name in names:
    print(name)

Qasim
Ahmed
Minhal
Arsalan
Shahryar

In [52]:
for k,name in enumerate(names):
    print(k,name)

0 Qasim
1 Ahmed
2 Minhal
3 Arsalan
4 Shahryar

In [53]:
xyz = {'contact':'0315-2968211',
      'fname':'Muhammad',
      'lname':'Qasim'}
xyz.items()

dict_items([('contact', '0315-2968211'), ('fname', 'Muhammad'), ('lname', 'Qasim')])

In [54]:
xyz.keys()

dict_keys(['contact', 'fname', 'lname'])

In [55]:
xyz.values()

dict_values(['0315-2968211', 'Muhammad', 'Qasim'])

In [56]:
l=['a','b']
x, z = l
print(x,z)

a b

In [57]:
for k,v in xyz.items():
    print("Keys is:",k," Value is: ",v)

Keys is: contact  Value is:  0315-2968211
Keys is: fname  Value is:  Muhammad
Keys is: lname  Value is:  Qasim

In [58]:
names

['Qasim', 'Ahmed', 'Minhal', 'Arsalan', 'Shahryar']

In [59]:
'Arsalan' in names

True

In [64]:
i=0
while(i<=4):
    if names[i]=='Arsalan':
        print(True)
        break
    i+=1

True

In [ ]:
x=input("Enter Your Name")
print(x)

In [65]:
names=[]
x=input("Enter Student Name | 'q' for quit ")
while(x!='q'):
    names.append(x)
    x=input("Enter Student Name | 'q' for quit ")
    if x=='q':
        for name in names:
            print(name)

Enter Student Name | 'q' for quit qasim
Enter Student Name | 'q' for quit asif
Enter Student Name | 'q' for quit abid
Enter Student Name | 'q' for quit hamza
Enter Student Name | 'q' for quit q
qasim
asif
abid
hamza

In [67]:
count = 1
while count < 5:
    print(count,"less than five")
    count +=1
else:
    print("No")

1 less than five
2 less than five
3 less than five
4 less than five
No

In [68]:
i = 1
do{
    print(i)
    i +=1
}while(i<5)

SyntaxError: invalid syntax (<ipython-input-68-8978f1f51193>, line 2)

In [73]:
i=5
print(i)
while(i<=10):
    print(i)
    i+=1

5
5
6
7
8
9
10

In [74]:
def abc(*num):
    total=0
    for i in num:
        total +=i
    return total

abc(2,8,9,0)

19

In [75]:
def abc(name,**dic):
    print(name)
    for k,v in dic.items():
        print(k,v)
        
abc('Qasim',cont='lkjadlsjdflkj',cnic="asdf",address='ad')

Qasim
cont lkjadlsjdflkj
cnic asdf
address ad

# Lambda Functions

In [76]:
a=lambda x:x+5
a(2)

7

In [79]:
l=list(range(10))

[a(x) for x in l]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [80]:
[x+3 for x in l]

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]