# List

- list defination
- insert, append
- pop, del, remove
- "+" concatination
- slicing

In [20]:
cities = ["Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattle"]

In [5]:
cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [3]:
cities[3]

'Denver'

In [4]:
cities[-2]

'Los Angeles'

In [6]:
cities.append("Karachi")
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'Karachi']

In [9]:
print?

In [10]:
print??

In [11]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [5]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York']

In [12]:
cities.append(47.7)

In [13]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'Karachi',
 47.7]

In [14]:
type(cities)

list

In [19]:
nlist=["Dubuque", "New Orleans"]
cities = cities + nlist
cities

TypeError: unsupported operand type(s) for +: 'NoneType' and 'list'

In [21]:
cities.extend(['a','b'])

In [22]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'a',
 'b']

In [25]:
cities.append(('c','d','e','f'))
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'a',
 'b',
 ['c', 'd', 'e'],
 ('c', 'd', 'e', 'f')]

In [26]:
todays_tasks = []

In [27]:
todays_tasks

[]

In [28]:
todays_tasks = todays_tasks + ["Walk dog", "Buy groceries"]
todays_tasks

['Walk dog', 'Buy groceries']

In [29]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'a',
 'b',
 ['c', 'd', 'e'],
 ('c', 'd', 'e', 'f')]

In [30]:
cities[0] 
cities[1] 
cities[2] 
cities[3] 
cities[4] 
cities[5]

'Seattle'

In [32]:
print(cities[0])
print(cities[1])
print(cities[2])
print(cities[3])
print(cities[4]) 
print(cities[5])

Atlanta
Baltimore
Chicago
Denver
Los Angeles
Seattle

In [33]:
cities.insert(3,"Karachi")
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Karachi',
 'Denver',
 'Los Angeles',
 'Seattle',
 'a',
 'b',
 ['c', 'd', 'e'],
 ('c', 'd', 'e', 'f')]

In [35]:
cities.insert(30,'Lahore')

In [36]:
cities[11]

'Lahore'

In [37]:
cities[30]

IndexError: list index out of range

In [34]:
cities[20]

IndexError: list index out of range

In [38]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Karachi',
 'Denver',
 'Los Angeles',
 'Seattle',
 'a',
 'b',
 ['c', 'd', 'e'],
 ('c', 'd', 'e', 'f'),
 'Lahore']

In [39]:
cities[3] = "KHI"
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'KHI',
 'Denver',
 'Los Angeles',
 'Seattle',
 'a',
 'b',
 ['c', 'd', 'e'],
 ('c', 'd', 'e', 'f'),
 'Lahore']

In [40]:
cities[11] = "Islamabad"
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'KHI',
 'Denver',
 'Los Angeles',
 'Seattle',
 'a',
 'b',
 ['c', 'd', 'e'],
 ('c', 'd', 'e', 'f'),
 'Islamabad']

# Slicing
- list[start:end:step]
    - start (inclusive)
    - end (exclusive)
    - step (number of element which we will take)

- list[slide,rows,columns] (we will cover from next book)

In [43]:
cities
del cities[9]

cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'KHI',
 'Denver',
 'Los Angeles',
 'Seattle',
 'a',
 'b']

Traditional Method for slicing

In [44]:
for i in range(2,8):
    print(cities[i])

Chicago
KHI
Denver
Los Angeles
Seattle
a

In [45]:
for city in cities:
    print(city)

Atlanta
Baltimore
Chicago
KHI
Denver
Los Angeles
Seattle
a
b

In [49]:
l = list(range(0,101))
l

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [51]:
l[10:15]

[10, 11, 12, 13, 14]

In [52]:
l[5:20:2]

[5, 7, 9, 11, 13, 15, 17, 19]

In [54]:
l[5:50:5]

[5, 10, 15, 20, 25, 30, 35, 40, 45]

In [55]:
l[3:31:3]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [59]:
l[-10:100]

[91, 92, 93, 94, 95, 96, 97, 98, 99]

In [61]:
l[-20:-30:-1]

[81, 80, 79, 78, 77, 76, 75, 74, 73, 72]

In [62]:
l[::-1]

[100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

In [65]:
l.reverse()

In [66]:
l

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [68]:
l2=l[5:11]
l2

[5, 6, 7, 8, 9, 10]

In [69]:
l2[0]

5

In [70]:
l2[0]=500
l2

[500, 6, 7, 8, 9, 10]

In [73]:
l3=l2
l3

[500, 6, 7, 8, 9, 10]

In [74]:
l3[0]=1000
l2

[1000, 6, 7, 8, 9, 10]

In [75]:
l4=l3.copy()
l4[0]=2000
print(l4)
l3

[2000, 6, 7, 8, 9, 10]

[1000, 6, 7, 8, 9, 10]

In [76]:
l4=l3[:]
l4[0]=2000
print(l4)
l3

[2000, 6, 7, 8, 9, 10]

[1000, 6, 7, 8, 9, 10]

In [77]:
l[90:]

[90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [78]:
l[:5]

[0, 1, 2, 3, 4]

In [79]:
cities[2:8]

['Chicago', 'KHI', 'Denver', 'Los Angeles', 'Seattle', 'a']

In [23]:
print(cities)
print(cities[::2])

['Atlanta', 'Baltimore', 'Karachi', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York', 47, 'Dubuque', 'New Orleans', 'Islamabad']
['Atlanta', 'Karachi', 'Denver', 'Seattle', 47, 'New Orleans']

In [81]:
l[1::2]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [82]:
l[2::2]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [86]:
l[10:10]

[]

# Lists: Taking slices out of them

In [83]:
cities = ["Atlanta", "Baltimore", "Chicago",\
"Denver", "Los Angeles", "Seattle"]
cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [84]:
smaller_list_of_cities = cities[2:5]
smaller_list_of_cities

['Chicago', 'Denver', 'Los Angeles']

In [85]:
cities[1:1:1]

[]

In [29]:
cities[0:0]

[]

In [31]:
print(cities)
print(cities[:5])

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']
['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles']

In [32]:
smaller_list_of_cities = cities[2:]
print(cities)
print(smaller_list_of_cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']
['Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [33]:
smaller_list_of_cities = cities[2:5]
print(cities)
print(smaller_list_of_cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']
['Chicago', 'Denver', 'Los Angeles']

# 18 Lists: Deleting and removing elements

In [87]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]
tasks

['email Frank', 'call Sarah', 'meet with Zach']

In [88]:
del tasks[0]
tasks

['call Sarah', 'meet with Zach']

In [89]:
del tasks[222222:28888888]
tasks

['call Sarah', 'meet with Zach']

In [91]:
cities.append('Chicago')
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'Chicago']

In [93]:
cities.remove("Chicago")
cities

['Atlanta', 'Baltimore', 'Denver', 'Los Angeles', 'Seattle']

# 19 Lists: popping elements

In [100]:
tasks = ["email Frank", "call Sarah", "meet withZach"]
tasks

['email Frank', 'call Sarah', 'meet withZach']

In [101]:
latest_task_accomplished = tasks.pop(1)

In [102]:
print(tasks)
print(latest_task_accomplished)

['email Frank', 'meet withZach']
call Sarah

In [103]:
tasks_accomplished=[]

tasks_accomplished.append(tasks.pop(1))
tasks_accomplished

['meet withZach']

In [104]:
tasks

['email Frank']

In [113]:
names = ["Qasim","Owais","Hamza","Junaid","Rashid","Konain"]
names

['Qasim', 'Owais', 'Hamza', 'Junaid', 'Rashid', 'Konain']

In [114]:
names.append("Ali")
names

['Qasim', 'Owais', 'Hamza', 'Junaid', 'Rashid', 'Konain', 'Ali']

In [115]:
names.insert(1, "Imran Khan")
names

['Qasim', 'Imran Khan', 'Owais', 'Hamza', 'Junaid', 'Rashid', 'Konain', 'Ali']

In [116]:
del names[5]
names

['Qasim', 'Imran Khan', 'Owais', 'Hamza', 'Junaid', 'Konain', 'Ali']

In [117]:
select_students=[]

In [120]:

select_students.append(names.pop(3))
names

['Qasim', 'Imran Khan', 'Hamza', 'Konain', 'Ali']

In [121]:
select_students

['Owais', 'Junaid']

In [122]:
select_students.append(names.pop())
names

['Qasim', 'Imran Khan', 'Hamza', 'Konain']

In [123]:
select_students

['Owais', 'Junaid', 'Ali']

In [124]:
names

['Qasim', 'Imran Khan', 'Hamza', 'Konain']

In [125]:
names[0]=names[1]=names[3]="Pakistan zinda bad"
names

['Pakistan zinda bad', 'Pakistan zinda bad', 'Hamza', 'Pakistan zinda bad']

In [126]:
names[-1]

'Pakistan zinda bad'

In [127]:
names[-2]

'Hamza'

In [128]:
names[::-1]

['Pakistan zinda bad', 'Hamza', 'Pakistan zinda bad', 'Pakistan zinda bad']

In [129]:
a = list(range(1,100))
a[::2]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [130]:
len(cities)

5

In [131]:
select_students

['Owais', 'Junaid', 'Ali']

In [132]:
select_students.clear()

In [133]:
select_students

[]

In [134]:
names

['Pakistan zinda bad', 'Pakistan zinda bad', 'Hamza', 'Pakistan zinda bad']

In [135]:
cities

['Atlanta', 'Baltimore', 'Denver', 'Los Angeles', 'Seattle']

In [136]:
cities=cities+['Atlanta',"Karachi",'Atlanta']
cities

['Atlanta',
 'Baltimore',
 'Denver',
 'Los Angeles',
 'Seattle',
 'Atlanta',
 'Karachi',
 'Atlanta']

In [137]:
cities.count("Atlanta")

3

In [139]:
cities.index("Atlanta",2)

5

In [140]:
cities

['Atlanta',
 'Baltimore',
 'Denver',
 'Los Angeles',
 'Seattle',
 'Atlanta',
 'Karachi',
 'Atlanta']

In [141]:
cities.reverse()
cities

['Atlanta',
 'Karachi',
 'Atlanta',
 'Seattle',
 'Los Angeles',
 'Denver',
 'Baltimore',
 'Atlanta']

In [143]:
cities.sort()
cities

['Atlanta',
 'Atlanta',
 'Atlanta',
 'Baltimore',
 'Denver',
 'Karachi',
 'Los Angeles',
 'Seattle']

In [144]:
l.sort(reverse=True)
l

[100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

In [147]:
sorted(l)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [148]:
l

[100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]