# Topic covers
- operator
- if
- else
- elif
- and, or,
- dictionary, keys: values, del ...

## comparison

In [1]:
5 == 5 
#equal

True

In [2]:
4==3 
#equal

False

In [3]:
4 != 3 
#notequal

True

In [4]:
5>6 
#greater than

False

In [5]:
5 >= 5 
# greater then equal

True

In [6]:
6<7 
#less then

True

In [7]:
4 <= 3
# Less then equal

False

if Logic_testing :
    Value_is_TRUE
else:
    Value_is_FALSE

Value_is_TRUE if Logic_testing else Value_is_FALSE

expr1 if condition1 else expr2 if condition2 else expr

In [8]:
if True:
    print("pakistan")
else:
    print("India")

pakistan

In [9]:
if False:
    print("pakistan")
else:
    print("India")

India

In [10]:
print("UIT") if True else print("UIT2")

UIT

In [11]:
day = 14
if day==14:
    print("pakistan")
else:
    print("India")

pakistan

# Chapter 9

In [12]:
species = "cat"

if species == "cat":
    print("Yep, it's cat.")

Yep, it's cat.

In [13]:
if species == "cat":
 print("Yep, it's cat.")

Yep, it's cat.

In [14]:
species = "mouse"

if species == "cat":
 print("Yep, it's cat.")

In [15]:
day = 16

if day == 16:
    print("Pakistan zinda bad")
    print("Jashne Azadi Mubarukh")
    print("We love our country")
    
print("Pakistani....")

Pakistan zinda bad
Jashne Azadi Mubarukh
We love our country
Pakistani....

In [19]:
a=2+2
if a  == 4:
    print("Everything makes sense.")

Everything makes sense.

In [20]:
number_of_wifs = 1

if number_of_wifs == 1:
    print("So far so good.")
    print("Congratulations.")
    print("All done")

So far so good.
Congratulations.
All done

# Chapter 11 else and elif statements

In [21]:
if species == "cat":
 print("Yep, it's cat.")
if species != "cat":
 print("Nope, not cat.")

Nope, not cat.

In [23]:
species = 'cat'
if species == 'cat':
    print('Yep, it\'cat.')
else:
    print("Nope, not cat.")

Yep, it'cat.

In [24]:
per = 70

In [25]:
if per >= 0:
    print("FAIL")
elif per >=50:
    print("C")
elif per >=60:
    print("B")
elif per >= 70:
    print("A")
elif per >=80:
    print("A+")

FAIL

In [28]:
if per >= 0 and per <50:
    print("FAIL")
elif per >=50 and per<60:
    print("C")
elif per >=60 and per < 70:
    print("B")
elif per >= 70 and per <80:
    print("A")
elif per >=80 and per <=100:
    print("A+")

A

In [26]:
5==5 and 6==7 and 7==8

False

In [27]:
5==6 or 6==6 or 7==8

True

In [29]:
if per >= 80:
    print("A+")
elif per >=70:
    print("A")
elif per >=60:
    print("B")
elif per >= 50:
    print("C")
else:
    print("Fail")

A

In [30]:
if per > 0:
    print("Fail")
elif per >=50 and per<60:
    print("C")
elif per >=60 and per<70:
    print("A")

Fail

In [34]:
per=75

if 70 >= per < 80:
    print ("A")
else:
    print("not in the condition")

not in the condition

In [35]:
80 >= per >60

True

In [36]:
per >60

True

In [37]:
80 >= True

True

In [38]:
per = 2000
if per >= 80:
    print("A+")
elif per >=70:
    print("A")
elif per >=60:
    print("B")
elif per >= 50:
    print("C")
else:
    print("Fail")

A+

In [39]:
per = 5000
if per >= 80 and per <=100:
    print("A+")
elif per >=70 and per <80:
    print("A")
elif per >=60 and per <70:
    print("B")
elif per >= 50 and per < 60:
    print("C")
else:
    print("Fail")

Fail

In [43]:
user = 'm.qasim077@gmail.com' # name, cell 03152968211 , email: m.qasim077@gmail.com
password = '123'

if (user=='qasim' or user=='03152968211' or user=='m.qasim077@gmail.com') and password=='123':
    print("VAlid user")
else:
    print("NOt valid")

VAlid user

# Chapter 25 Dictionaries: What they are

In [48]:
my_cats = ["Draco", "Bellatrix", "Voldemort"]
my_cats

['Draco', 'Bellatrix', 'Voldemort']

In [ ]:
print(my_cats[0])

In [49]:
student_001 = {
    'name':'Osama',
    'fname':'Rizwan',
    'age':20,
    'education':['Matric','Master']
}
student_001

{'age': 20,
 'education': ['Matric', 'Master'],
 'fname': 'Rizwan',
 'name': 'Osama'}

In [45]:
student_001.values()

dict_values(['Osama', 'Rizwan', 20, ['Matric', 'Master']])

In [46]:
student_001.keys()

dict_keys(['name', 'fname', 'age', 'education'])

In [47]:
student_001.items()

dict_items([('name', 'Osama'), ('fname', 'Rizwan'), ('age', 20), ('education', ['Matric', 'Master'])])

In [50]:
student_001

{'age': 20,
 'education': ['Matric', 'Master'],
 'fname': 'Rizwan',
 'name': 'Osama'}

In [51]:
student_001[0]

KeyError: 0

In [52]:
student_001['age']

20

In [53]:
student_001['name']

'Osama'

In [54]:
student_001['education']

['Matric', 'Master']

In [55]:
student_001['education'][1]

'Master'

In [56]:
student_002 = {
    'name':'Ali',
    'fname':'Hamza',
    'age':22,
    'education':['Matric','Master'],
    5: "pakistan",
    6: "China"
}
student_002[5]

'pakistan'

In [57]:
student_002["Salary"] = 50000

In [58]:
student_002

{5: 'pakistan',
 6: 'China',
 'Salary': 50000,
 'age': 22,
 'education': ['Matric', 'Master'],
 'fname': 'Hamza',
 'name': 'Ali'}

In [59]:
student_002["Salary"] = "25000"

In [60]:
student_002

{5: 'pakistan',
 6: 'China',
 'Salary': '25000',
 'age': 22,
 'education': ['Matric', 'Master'],
 'fname': 'Hamza',
 'name': 'Ali'}

In [61]:
del student_002[6]

In [62]:
student_002

{5: 'pakistan',
 'Salary': '25000',
 'age': 22,
 'education': ['Matric', 'Master'],
 'fname': 'Hamza',
 'name': 'Ali'}

In [63]:
l = list(range(1,100))
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [69]:
for i in l:
    print(i**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

In [70]:
a=[1,5,6] *2
a

[1, 5, 6, 1, 5, 6]

In [71]:
[x*2 for x in a]

[2, 10, 12, 2, 10, 12]

In [72]:
for x in student_001.keys():
    print(x)

name
fname
age
education

In [73]:
for x in student_001.values():
    print(x)

Osama
Rizwan
20
['Matric', 'Master']

In [74]:
for k , v in student_001.items():
    print(k,"======",v)

name ====== Osama
fname ====== Rizwan
age ====== 20
education ====== ['Matric', 'Master']

In [82]:
a

5

In [76]:
6 in a

True

In [77]:
6 not in a

False

In [78]:
50 in a

False

In [79]:
if 50 in a:
    print("abc")
else:
    print("Not available")

Not available

In [85]:
l = [5,6,7]
a = input("Enter Value")
a = int(a)
if a in l:
    print("abc")
else:
    print("Not available")

Enter Value152
Not available

In [86]:
b=l*2
b

[5, 6, 7, 5, 6, 7]

In [87]:
set(b)

{5, 6, 7}