# The pandas DataFrame Object<br>
The pandas DataFrame object extends the capabilities of the Series object into
two-dimensions. A Series object adds an index to a NumPy array but can only
associate a single data item per index label, a DataFrame integrates multiple Series
objects by aligning them along common index labels. This automatic alignment by
index label provides a seamless view across all the Series at each index label that
has the appearance of a row in a table.<br><br>
A DataFrame object can be thought of as a dictionary-like container of one or more
Series objects, or as a spreadsheet, probably the best description for those new to
pandas is to compare a DataFrame object to a relational database table. However,
even that comparison is limited, as a DataFrame object has very distinct qualities
(such as automatic data alignment of series) that make it much more capable for
exploratory data analysis than either a spreadsheet or relational database table.<br><br>
Because of the increased dimensionality of the DataFrame object, it becomes necessary
to provide a means to select both rows and columns. Carrying over from a Series,
the DataFrame uses the [] operator for selection, but it is now applied to the selection
of columns of data. This means that another construct must be used to select specific
rows of a DataFrame object. For those operations, a DataFrame object provides several
methods and attributes that can be used in various fashions to select data by rows.<br><br>
A DataFrame also introduces the concept of multiple axes, specifically the horizontal
and vertical axis. Functions from pandas can then be applied to either axis, in essence
stating that the operation be applied horizontally to all the values in the rows, or up
and down each column.<br><br>
In this chapter, we will examine the pandas DataFrame and how we can manipulate
both the DataFrame and the data it represents to build a basis for performing
interactive data analysis.
## we will cover:

* Creating a DataFrame from scratch
• Loading sample data to demonstrate the capabilities of a DataFrame object
• Selecting columns of a DataFrame object
• Selecting rows and values of a DataFrame using the index
• Selecting rows of a DataFrame using Boolean selection
• Adding, replacing, and deleting columns from a DataFrame
• Adding, replacing, and deleting rows from a DataFrame
• Modifying scalar values in a DataFrame
• Arithmetic operations on the DataFrame objects
• Resetting and reindexing a DataFrame
• Hierarchically indexing a DataFrame
• Statistical methods of a DataFrame
• Summarized data and statistical methods of a DataFrame

## Creating DataFrame from scratch
To use a DataFrame we first need to import pandas and set some options for output.

In [1]:
# reference NumPy and pandas
import numpy as np
import pandas as pd
# Set some pandas options
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

In [2]:
pd.DataFrame(np.array([[10, 11], [20, 21]]))

    0   1
0  10  11
1  20  21

In [3]:
# create a DataFrame for a list of Series objects
df1 = pd.DataFrame([pd.Series(np.arange(10, 15)),
                    pd.Series(np.arange(15, 20))])
df1

    0   1   2   3   4
0  10  11  12  13  14
1  15  16  17  18  19

In [4]:
# what's the shape of this DataFrame
df1.shape # it is two rows by 5 columns

(2, 5)

In [5]:
# specify column names
df = pd.DataFrame(np.array([[10, 11], [20, 21]]), columns=['a', 'b'])
df

    a   b
0  10  11
1  20  21

In [6]:
# what are the names of the columns?
df.columns

Index(['a', 'b'], dtype='object')

In [7]:
# retrieve just the names of the columns by position
"{0}, {1}".format(df.columns[0], df.columns[1])

'a, b'

In [8]:
# rename the columns
df.columns = ['c1', 'c2']
df

   c1  c2
0  10  11
1  20  21

In [9]:
# create a DataFrame with named columns and rows
df = pd.DataFrame(np.array([[0, 1], [2, 3]]),
                  columns=['c1', 'c2'],
                  index=['r1', 'r2'])
df

    c1  c2
r1   0   1
r2   2   3

In [10]:
# retrieve the index of the DataFrame
df.index

Index(['r1', 'r2'], dtype='object')

In [11]:
# create a DataFrame with two Series objects
 # and a dictionary
s1 = pd.Series(np.arange(1, 6, 1))
s2 = pd.Series(np.arange(6, 11, 1))
pd.DataFrame({'c1': s1, 'c2': s2})

   c1  c2
0   1   6
1   2   7
2   3   8
3   4   9
4   5  10

In [12]:
# demonstrate alignment during creation
s3 = pd.Series(np.arange(12, 14), index=[1, 2])
df = pd.DataFrame({'c1': s1, 'c2': s2, 'c3': s3})
df

   c1  c2    c3
0   1   6   NaN
1   2   7  12.0
2   3   8  13.0
3   4   9   NaN
4   5  10   NaN

## Example data
Where possible, the examples in this chapter will utilize several datasets provided
with the code in the download for the text. These datasets make the examples a little
less academic in nature. These datasets will be read from files using the <b>pd.read_
csv()</b> function that will load the sample data from the file into a DataFrame object

In [13]:
# show the first three lines of the file
!head -n 3 data\prices.csv # on Mac or Linux
 # !type data\sp500.csv # on Windows, but will show the entire file

'head' is not recognized as an internal or external command,
operable program or batch file.

In [14]:
# read in the data and print the first five rows
 # use the Symbol column as the index, and
 # only read in columns in positions 0, 2, 3, 7
sp500 = pd.read_csv("data/prices.csv",
                    index_col='date',
                    usecols=[0, 2, 3, 6])
sp500.head()

                           open       close     volume
date
2016-01-05 00:00:00  123.430000  125.839996  2163600.0
2016-01-06 00:00:00  125.239998  119.980003  2386400.0
2016-01-07 00:00:00  116.379997  114.949997  2489500.0
2016-01-08 00:00:00  115.480003  116.620003  2006300.0
2016-01-11 00:00:00  117.010002  114.970001  1408600.0

In [15]:
sp500.tail()

                           open       close     volume
date
2016-12-30           103.309998  103.199997   973800.0
2016-12-30            43.070000   43.040001  1938100.0
2016-12-30            53.639999   53.529999  1701200.0
2016-12-30 00:00:00   44.730000   45.450001  1380900.0
2016-12-30 00:00:00   54.200001   53.630001   705100.0

In [16]:
len(sp500)

851264

In [17]:
sp500.index

Index(['2016-01-05 00:00:00', '2016-01-06 00:00:00', '2016-01-07 00:00:00',
       '2016-01-08 00:00:00', '2016-01-11 00:00:00', '2016-01-12 00:00:00',
       '2016-01-13 00:00:00', '2016-01-14 00:00:00', '2016-01-15 00:00:00',
       '2016-01-19 00:00:00',
       ...
       '2016-12-30', '2016-12-30', '2016-12-30', '2016-12-30', '2016-12-30',
       '2016-12-30', '2016-12-30', '2016-12-30', '2016-12-30 00:00:00',
       '2016-12-30 00:00:00'],
      dtype='object', name='date', length=851264)

In [18]:
sp500.columns

Index(['open', 'close', 'volume'], dtype='object')

In [19]:
#!type data\prices.csv # on Windows, but prints the entire file

In [20]:
# read in the data
one_mon_hist = pd.read_csv("data/prices.csv")
# examine the first three rows
one_mon_hist[:3]

                  date symbol        open       close         low        high  \
0  2016-01-05 00:00:00   WLTW  123.430000  125.839996  122.309998  126.250000
1  2016-01-06 00:00:00   WLTW  125.239998  119.980003  119.940002  125.540001
2  2016-01-07 00:00:00   WLTW  116.379997  114.949997  114.930000  119.739998

      volume
0  2163600.0
1  2386400.0
2  2489500.0

# Selecting columns of a DataFrame
Selecting the data in specific columns of a DataFrame is performed by using the []
operator. This can be passed either as a single object, or a list of objects. These objects
are then used to lookup columns either by zero-based location, or by matching the
objects to the values in the columns index.
Passing a single integer, or a list of integers, to [] will have the DataFrame object
attempt to perform a location based lookup of the columns. The following code
retrieves the data in the second and third columns:

In [21]:
# get first and second columns (1 and 2) by location
sp500[['open', 'close']].head()

                           open       close
date
2016-01-05 00:00:00  123.430000  125.839996
2016-01-06 00:00:00  125.239998  119.980003
2016-01-07 00:00:00  116.379997  114.949997
2016-01-08 00:00:00  115.480003  116.620003
2016-01-11 00:00:00  117.010002  114.970001

In [22]:
sp500[['open']].head()

                           open
date
2016-01-05 00:00:00  123.430000
2016-01-06 00:00:00  125.239998
2016-01-07 00:00:00  116.379997
2016-01-08 00:00:00  115.480003
2016-01-11 00:00:00  117.010002

In [23]:
type(sp500[['open']].head())

pandas.core.frame.DataFrame

In [24]:
 # this is an exception, hence it is commented
 # this tries to find a column named '1'
 # not the row at position 1
 # df = sp500[1]

In [25]:
# create a new DataFrame with integers as the column names
 # make sure to use .copy() or change will be in-place
df = sp500.copy()
df.columns=[0, 1, 2]
df.head()

                              0           1          2
date
2016-01-05 00:00:00  123.430000  125.839996  2163600.0
2016-01-06 00:00:00  125.239998  119.980003  2386400.0
2016-01-07 00:00:00  116.379997  114.949997  2489500.0
2016-01-08 00:00:00  115.480003  116.620003  2006300.0
2016-01-11 00:00:00  117.010002  114.970001  1408600.0

In [26]:
df[1]

date
2016-01-05 00:00:00    125.839996
2016-01-06 00:00:00    119.980003
2016-01-07 00:00:00    114.949997
2016-01-08 00:00:00    116.620003
2016-01-11 00:00:00    114.970001
                          ...
2016-12-30             103.199997
2016-12-30              43.040001
2016-12-30              53.529999
2016-12-30 00:00:00     45.450001
2016-12-30 00:00:00     53.630001
Name: 1, Length: 851264, dtype: float64

In [27]:
# because the column names are actually integers
 # and therefore [1] is found as a column
df.columns

Int64Index([0, 1, 2], dtype='int64')

In [28]:
# this is a Series not a DataFrame
type(df[1])

pandas.core.series.Series

In [29]:
# get price column by name
 # result is a Series
sp500['open']

date
2016-01-05 00:00:00    123.430000
2016-01-06 00:00:00    125.239998
2016-01-07 00:00:00    116.379997
2016-01-08 00:00:00    115.480003
2016-01-11 00:00:00    117.010002
                          ...
2016-12-30             103.309998
2016-12-30              43.070000
2016-12-30              53.639999
2016-12-30 00:00:00     44.730000
2016-12-30 00:00:00     54.200001
Name: open, Length: 851264, dtype: float64

In [30]:
# get Price and Sector columns
 # since a list is passed, the result is a DataFrame
sp500[['open', 'close']]

                           open       close
date
2016-01-05 00:00:00  123.430000  125.839996
2016-01-06 00:00:00  125.239998  119.980003
2016-01-07 00:00:00  116.379997  114.949997
2016-01-08 00:00:00  115.480003  116.620003
2016-01-11 00:00:00  117.010002  114.970001
...                         ...         ...
2016-12-30           103.309998  103.199997
2016-12-30            43.070000   43.040001
2016-12-30            53.639999   53.529999
2016-12-30 00:00:00   44.730000   45.450001
2016-12-30 00:00:00   54.200001   53.630001

[851264 rows x 2 columns]

In [31]:
# attribute access of the column by name
sp500.open

date
2016-01-05 00:00:00    123.430000
2016-01-06 00:00:00    125.239998
2016-01-07 00:00:00    116.379997
2016-01-08 00:00:00    115.480003
2016-01-11 00:00:00    117.010002
                          ...
2016-12-30             103.309998
2016-12-30              43.070000
2016-12-30              53.639999
2016-12-30 00:00:00     44.730000
2016-12-30 00:00:00     54.200001
Name: open, Length: 851264, dtype: float64

Note that this will not work for the Book Value column, as the name has a space.
If you do want to find the zero-based location of one or more columns using the
name of the column (technically, the value of the index entry of a column), use the
.get_loc() method of the columns index:

In [36]:
# get the position of the column with the value of Price
loc = sp500.columns.get_loc('close')
loc

1

## Selecting rows and values of a DataFrame using the index

Row selection using the index on a DataFrame then breaks down to the following
general categories of operations:
• Slicing using the [] operator
• Label or location based lookup using .loc, .iloc, and .ix
• Scalar lookup by label or location using .at and .iat

## Slicing using the [] operator
Slicing a DataFrame across its index is syntactically identical to performing the
same on a Series. Because of this, we will not go into the details of the various
permutations of slices in this section, and only give representative examples
applied to a DataFrame.<br><br>
Slicing works along both positions and labels. The following code demonstrates
several examples of slicing by position:

In [37]:
# first five rows
sp500[:5]

                           open       close     volume
date
2016-01-05 00:00:00  123.430000  125.839996  2163600.0
2016-01-06 00:00:00  125.239998  119.980003  2386400.0
2016-01-07 00:00:00  116.379997  114.949997  2489500.0
2016-01-08 00:00:00  115.480003  116.620003  2006300.0
2016-01-11 00:00:00  117.010002  114.970001  1408600.0

In [55]:
sp500 = pd.read_csv("data/prices.csv")
sp500.head()

                  date symbol        open       close         low        high  \
0  2016-01-05 00:00:00   WLTW  123.430000  125.839996  122.309998  126.250000
1  2016-01-06 00:00:00   WLTW  125.239998  119.980003  119.940002  125.540001
2  2016-01-07 00:00:00   WLTW  116.379997  114.949997  114.930000  119.739998
3  2016-01-08 00:00:00   WLTW  115.480003  116.620003  113.500000  117.440002
4  2016-01-11 00:00:00   WLTW  117.010002  114.970001  114.089996  117.330002

      volume
0  2163600.0
1  2386400.0
2  2489500.0
3  2006300.0
4  1408600.0

In [56]:
sp500[5:11]

                   date symbol        open       close         low  \
5   2016-01-12 00:00:00   WLTW  115.510002  115.550003  114.500000
6   2016-01-13 00:00:00   WLTW  116.459999  112.849998  112.589996
7   2016-01-14 00:00:00   WLTW  113.510002  114.379997  110.050003
8   2016-01-15 00:00:00   WLTW  113.330002  112.529999  111.919998
9   2016-01-19 00:00:00   WLTW  113.660004  110.379997  109.870003
10  2016-01-20 00:00:00   WLTW  109.059998  109.300003  108.320000

          high     volume
5   116.059998  1098000.0
6   117.070000   949600.0
7   115.029999   785300.0
8   114.879997  1093700.0
9   115.870003  1523500.0
10  111.599998  1653900.0

# Selecting rows by index label and location: `.loc[] and .iloc[]`
Rows can be retrieved via an index label value using .loc[]. This is shown in the
following code:

In [57]:
sp500.loc[5]

date      2016-01-12 00:00:00
symbol                   WLTW
open                   115.51
close                  115.55
low                     114.5
high                   116.06
volume              1.098e+06
Name: 5, dtype: object

In [58]:
sp500.loc[[5,7]]

                  date symbol        open       close         low        high  \
5  2016-01-12 00:00:00   WLTW  115.510002  115.550003  114.500000  116.059998
7  2016-01-14 00:00:00   WLTW  113.510002  114.379997  110.050003  115.029999

      volume
5  1098000.0
7   785300.0

In [59]:
sp500.iloc[[1,2]]

                  date symbol        open       close         low        high  \
1  2016-01-06 00:00:00   WLTW  125.239998  119.980003  119.940002  125.540001
2  2016-01-07 00:00:00   WLTW  116.379997  114.949997  114.930000  119.739998

      volume
1  2386400.0
2  2489500.0

It is possible to look up the location in the index of a specific label value, which can
then be used to retrieve the row(s):

In [61]:
# get the location of MMM and A in the index
i1 = sp500.index.get_loc(5)
i2 = sp500.index.get_loc(2)
"{0} {1}".format(i1, i2)

'5 2'

In [62]:
sp500.loc[[i1,i2]]

                  date symbol        open       close     low        high  \
5  2016-01-12 00:00:00   WLTW  115.510002  115.550003  114.50  116.059998
2  2016-01-07 00:00:00   WLTW  116.379997  114.949997  114.93  119.739998

      volume
5  1098000.0
2  2489500.0

# Selecting rows by index label and/or
location: .ix[]

Like a Series, a DataFrame also contains an .ix property that can be used to lookup
rows, either by index label or location, essentially combining .loc and .iloc in one.
The following looks up rows by index label by passing a list of nonintegers:

In [64]:
sp500.ix[[1,5]]

C:\Users\Muhammad Qasim\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

                  date symbol        open       close         low        high  \
1  2016-01-06 00:00:00   WLTW  125.239998  119.980003  119.940002  125.540001
5  2016-01-12 00:00:00   WLTW  115.510002  115.550003  114.500000  116.059998

      volume
1  2386400.0
5  1098000.0

# Scalar lookup by label or location using .at[] and .iat[]
Scalar values can be looked up by label using .at, by passing both the row label and
then the column name/value:

In [66]:
# by label in both the index and column
sp500.at[5, 'open']

115.510002

Scalar values can also be looked up by location using .iat by passing both the row
location and then the column location. This is the preferred method of accessing
single values and gives the highest performance.

In [67]:
# by location. Row 0, column 1
sp500.iat[0, 1]

'WLTW'

# Selecting rows of a DataFrame by Boolean selection
Rows can also be selected by using Boolean selection, using an array calculated from
the result of applying a logical condition on the values in any of the columns. This
allows us to build more complicated selections than those based simply upon index
labels or positions.

In [69]:
# what rows have a price < 100?
sp500.open < 100

0         False
1         False
2         False
3         False
4         False
          ...
851259    False
851260     True
851261     True
851262     True
851263     True
Name: open, Length: 851264, dtype: bool

In [70]:
# now get the rows with Price < 100
sp500[sp500.open < 100]

                       date symbol       open      close        low  \
251              2010-01-04      A  31.389999  31.300001  31.130000
252              2010-01-04    AAL   4.840000   4.770000   4.660000
253              2010-01-04    AAP  40.700001  40.380001  40.360001
255              2010-01-04    ABC  26.290001  26.629999  26.139999
256              2010-01-04    ABT  54.189953  54.459951  53.919951
...                     ...    ...        ...        ...        ...
851258           2016-12-30    YUM  63.930000  63.330002  63.160000
851260           2016-12-30   ZION  43.070000  43.040001  42.689999
851261           2016-12-30    ZTS  53.639999  53.529999  53.270000
851262  2016-12-30 00:00:00    AIV  44.730000  45.450001  44.410000
851263  2016-12-30 00:00:00    FTV  54.200001  53.630001  53.389999

             high      volume
251     31.630001   3815500.0
252      4.940000   9837300.0
253     41.040001   1701700.0
255     26.690001   2455900.0
256     54.559954  10829000.0
...           ...         ...
851258  63.939999   1887100.0
851260  43.310001   1938100.0
851261  53.740002   1701200.0
851262  45.590000   1380900.0
851263  54.480000    705100.0

[721287 rows x 7 columns]

In [77]:
sp500[(sp500.open<100) & (sp500.open>4)]

                       date symbol       open      close        low  \
251              2010-01-04      A  31.389999  31.300001  31.130000
252              2010-01-04    AAL   4.840000   4.770000   4.660000
253              2010-01-04    AAP  40.700001  40.380001  40.360001
255              2010-01-04    ABC  26.290001  26.629999  26.139999
256              2010-01-04    ABT  54.189953  54.459951  53.919951
...                     ...    ...        ...        ...        ...
851258           2016-12-30    YUM  63.930000  63.330002  63.160000
851260           2016-12-30   ZION  43.070000  43.040001  42.689999
851261           2016-12-30    ZTS  53.639999  53.529999  53.270000
851262  2016-12-30 00:00:00    AIV  44.730000  45.450001  44.410000
851263  2016-12-30 00:00:00    FTV  54.200001  53.630001  53.389999

             high      volume
251     31.630001   3815500.0
252      4.940000   9837300.0
253     41.040001   1701700.0
255     26.690001   2455900.0
256     54.559954  10829000.0
...           ...         ...
851258  63.939999   1887100.0
851260  43.310001   1938100.0
851261  53.740002   1701200.0
851262  45.590000   1380900.0
851263  54.480000    705100.0

[720358 rows x 7 columns]

# Modifying the structure and content of DataFrame
The structure and content of a DataFrame can be mutated in several ways. Rows and
columns can be added and removed, and data within either can be modified to take
on new values. Additionally, columns, as well as index labels, can also be renamed.
Each of these will be described in the following sections.

In [80]:
 # rename the Book Value column to not have a space
 # this returns a copy with the column renamed
df = sp500.rename(columns=
                  {'open': 'price'})
 # print first 2 rows

In [81]:
df.head(2)

                  date symbol       price       close         low        high  \
0  2016-01-05 00:00:00   WLTW  123.430000  125.839996  122.309998  126.250000
1  2016-01-06 00:00:00   WLTW  125.239998  119.980003  119.940002  125.540001

      volume
0  2163600.0
1  2386400.0

This has returned a new DataFrame object with the renamed column and data copied
from the original DataFrame. We can verify that the original DataFrame did not have
its column names modified:

In [82]:
# verify the columns in the original did not change
sp500.columns

Index(['date', 'symbol', 'open', 'close', 'low', 'high', 'volume'], dtype='object')

To modify the DataFrame without making a copy, we can use the inplace=True
parameter to .rename():

In [84]:
# this changes the column in-place
sp500.rename(columns=
{'close': 'colosePrice'},
inplace=True)
# we can see the column is changed
sp500.columns

Index(['date', 'symbol', 'open', 'colosePrice', 'low', 'high', 'volume'], dtype='object')

# Adding and inserting columns

In [85]:
# make a copy
copy = sp500.copy()
# add a new column to the copy
copy['TwicePrice'] = sp500.colosePrice * 2
copy[:2]

                  date symbol        open  colosePrice         low  \
0  2016-01-05 00:00:00   WLTW  123.430000   125.839996  122.309998
1  2016-01-06 00:00:00   WLTW  125.239998   119.980003  119.940002

         high     volume  TwicePrice
0  126.250000  2163600.0  251.679992
1  125.540001  2386400.0  239.960006

In [87]:
# extract the first four rows and just the Price column
rcopy = sp500[0:3][['open']].copy()
rcopy

         open
0  123.430000
1  125.239998
2  116.379997

In [88]:
# create a new Series to merge as a column
# one label exists in rcopy (MSFT), and MMM does not
s = pd.Series(
{'MMM': 'Is in the DataFrame',
 'MSFT': 'Not in the DataFrame'} )
s

MMM      Is in the DataFrame
MSFT    Not in the DataFrame
dtype: object

In [89]:
# add rcopy into a column named 'Comment'
rcopy['Comment'] = s
rcopy

         open Comment
0  123.430000     NaN
1  125.239998     NaN
2  116.379997     NaN

# Replacing the contents of a column
In general, assignment of a Series to a column using the [] operator will either
create a new column if the column does not already exist, or replace the contents
of a column if it already exists. To demonstrate replacement, the following code
replaces the Price column with the result of the multiplication, instead of creating
a new column:

In [92]:
copy = sp500.copy()
 # replace the Price column data with the new values
 # instead of adding a new column
copy.open = sp500.open * 2
copy[:5]

                  date symbol        open  colosePrice         low  \
0  2016-01-05 00:00:00   WLTW  246.860000   125.839996  122.309998
1  2016-01-06 00:00:00   WLTW  250.479996   119.980003  119.940002
2  2016-01-07 00:00:00   WLTW  232.759994   114.949997  114.930000
3  2016-01-08 00:00:00   WLTW  230.960006   116.620003  113.500000
4  2016-01-11 00:00:00   WLTW  234.020004   114.970001  114.089996

         high     volume
0  126.250000  2163600.0
1  125.540001  2386400.0
2  119.739998  2489500.0
3  117.440002  2006300.0
4  117.330002  1408600.0

# Deleting columns in a DataFrame
Columns can be deleted from a DataFrame by using the del keyword, the pop(column)
method of the DataFrame, or by calling the drop() method of the DataFrame.

The behavior of each of these differs slightly:
• del will simply delete the Series from the DataFrame (in-place)
• pop() will both delete the Series and return the Series as a result
(also in-place)
• drop(labels, axis=1) will return a new DataFrame with the column(s)
removed (the original DataFrame object is not modified)
The following code demonstrates using del to delete the BookValue column from a
copy of the sp500 data:

In [93]:
# Example of using del to delete a column
 # make a copy of a subset of the data frame
copy = sp500[:2].copy()
copy

                  date symbol        open  colosePrice         low  \
0  2016-01-05 00:00:00   WLTW  123.430000   125.839996  122.309998
1  2016-01-06 00:00:00   WLTW  125.239998   119.980003  119.940002

         high     volume
0  126.250000  2163600.0
1  125.540001  2386400.0

In [94]:
# delete the BookValue column
 # deletion is in-place
del(copy['colosePrice'])
copy

                  date symbol        open         low        high     volume
0  2016-01-05 00:00:00   WLTW  123.430000  122.309998  126.250000  2163600.0
1  2016-01-06 00:00:00   WLTW  125.239998  119.940002  125.540001  2386400.0

In [96]:
# Example of using pop to remove a column from a DataFrame
 # first make a copy of a subset of the data frame
# pop works in-place
copy = sp500[:2].copy()
# this will remove Sector and return it as a series
popped = copy.pop('low')
# Sector column removed in-place
copy

                  date symbol        open  colosePrice        high     volume
0  2016-01-05 00:00:00   WLTW  123.430000   125.839996  126.250000  2163600.0
1  2016-01-06 00:00:00   WLTW  125.239998   119.980003  125.540001  2386400.0

In [97]:
popped

0    122.309998
1    119.940002
Name: low, dtype: float64

The .drop() method can be used to remove both rows and columns. To use it to
remove a column, specify axis=1:

In [100]:
 # Example of using drop to remove a column
 # make a copy of a subset of the DataFrame
copy = sp500[:2].copy()
 # this will return a new DataFrame with 'Sector' removed
 # the copy DataFrame is not modified
afterdrop = copy.drop(['colosePrice'], axis = 1)
afterdrop

                  date symbol        open         low        high     volume
0  2016-01-05 00:00:00   WLTW  123.430000  122.309998  126.250000  2163600.0
1  2016-01-06 00:00:00   WLTW  125.239998  119.940002  125.540001  2386400.0

# Adding rows to a DataFrame

Rows can be added to a DataFrame object via several different operations:
• Appending a DataFrame to another
• Concatenation of two DataFrame objects
• Setting with enlargement

## Appending rows with .append()
Appending is performed using the .append() method of the DataFrame. The
process of appending returns a new DataFrame with the data from the original
DataFrame added first, and the rows from the second. Appending does not perform
alignment and can result in duplicate index values.<br>
The following code demonstrates appending two DataFrame objects extracted
from the sp500 data. The first DataFrame consists of rows 0, 1 and 2, and the
second consists of rows 10, 11 and 2. Row 2 (with label ABBV) is included in
both to demonstrate creation of duplicate index labels. The code is as follows:

In [101]:
# copy the first three rows of sp500
df1 = sp500.iloc[0:3].copy()
# copy 10th and 11th rows
df2 = sp500.iloc[[10, 11, 2]]
# append df1 and df2
appended = df1.append(df2)
# the result is the rows of the first followed by
# those of the second
appended

                   date symbol        open  colosePrice         low  \
0   2016-01-05 00:00:00   WLTW  123.430000   125.839996  122.309998
1   2016-01-06 00:00:00   WLTW  125.239998   119.980003  119.940002
2   2016-01-07 00:00:00   WLTW  116.379997   114.949997  114.930000
10  2016-01-20 00:00:00   WLTW  109.059998   109.300003  108.320000
11  2016-01-21 00:00:00   WLTW  109.730003   110.000000  108.320000
2   2016-01-07 00:00:00   WLTW  116.379997   114.949997  114.930000

          high     volume
0   126.250000  2163600.0
1   125.540001  2386400.0
2   119.739998  2489500.0
10  111.599998  1653900.0
11  110.580002   944300.0
2   119.739998  2489500.0

The set of columns of the DataFrame objects being appended do not need to be the
same. The resulting DataFrame will consist of the union of the columns in both and
where either did not have a column, NaN will be used as the value. The following
code demonstrates this by creating a third DataFrame using the same index as df1,
but having a single column with a unique column name:

In [102]:
# DataFrame using df1.index and just a PER column
 # also a good example of using a scalar value
 # to initialize multiple rows
df3 = pd.DataFrame(0.0,
                   index=df1.index,
                   columns=['PER'])
df3

   PER
0  0.0
1  0.0
2  0.0

In [103]:
# append df1 and df3
 # each has three rows, so 6 rows is the result
 # df1 had no PER column, so NaN for those rows
 # df3 had no BookValue, Price or Sector, so NaN values

In [104]:
df1.append(df3)

   PER  colosePrice                 date        high         low        open  \
0  NaN   125.839996  2016-01-05 00:00:00  126.250000  122.309998  123.430000
1  NaN   119.980003  2016-01-06 00:00:00  125.540001  119.940002  125.239998
2  NaN   114.949997  2016-01-07 00:00:00  119.739998  114.930000  116.379997
0  0.0          NaN                  NaN         NaN         NaN         NaN
1  0.0          NaN                  NaN         NaN         NaN         NaN
2  0.0          NaN                  NaN         NaN         NaN         NaN

  symbol     volume
0   WLTW  2163600.0
1   WLTW  2386400.0
2   WLTW  2489500.0
0    NaN        NaN
1    NaN        NaN
2    NaN        NaN

To append without forcing the index to be taken from either DataFrame, you can
use the ignore_index=True parameter. This is useful when the index values are
not of significant meaning, and you just want concatenated data with sequentially
increasing integers as indexes:

In [105]:
# ignore index labels, create default index
df1.append(df3, ignore_index=True)

   PER  colosePrice                 date        high         low        open  \
0  NaN   125.839996  2016-01-05 00:00:00  126.250000  122.309998  123.430000
1  NaN   119.980003  2016-01-06 00:00:00  125.540001  119.940002  125.239998
2  NaN   114.949997  2016-01-07 00:00:00  119.739998  114.930000  116.379997
3  0.0          NaN                  NaN         NaN         NaN         NaN
4  0.0          NaN                  NaN         NaN         NaN         NaN
5  0.0          NaN                  NaN         NaN         NaN         NaN

  symbol     volume
0   WLTW  2163600.0
1   WLTW  2386400.0
2   WLTW  2489500.0
3    NaN        NaN
4    NaN        NaN
5    NaN        NaN

# Concatenating DataFrame objects with pd.concat()
A DataFrame can be concatenated to another using the pd.concat() function. This
function functions similarly to the .append() method, but also adds the ability to
specify an axis (appending can be row or column based), as well as being able to
perform several join operations between the objects. Also, the function takes a list
of pandas objects to concatenate, so you can concatenate more than two objects in a
single call

The default operation of pd.concat() on two DataFrame objects operates in the
same way as the .append() method. This can be demonstrated by reconstructing the
two datasets from the earlier example and concatenating them. This is shown in the
following example:

In [107]:
# copy the first three rows of sp500

df1 = sp500.iloc[0:3].copy()
# copy 10th and 11th rows
df2 = sp500.iloc[[10, 11, 2]]
# pass them as a list
pd.concat([df1, df2])

                   date symbol        open  colosePrice         low  \
0   2016-01-05 00:00:00   WLTW  123.430000   125.839996  122.309998
1   2016-01-06 00:00:00   WLTW  125.239998   119.980003  119.940002
2   2016-01-07 00:00:00   WLTW  116.379997   114.949997  114.930000
10  2016-01-20 00:00:00   WLTW  109.059998   109.300003  108.320000
11  2016-01-21 00:00:00   WLTW  109.730003   110.000000  108.320000
2   2016-01-07 00:00:00   WLTW  116.379997   114.949997  114.930000

          high     volume
0   126.250000  2163600.0
1   125.540001  2386400.0
2   119.739998  2489500.0
10  111.599998  1653900.0
11  110.580002   944300.0
2   119.739998  2489500.0

Actually, pandas calculates the sorted union of distinct column names across all
supplied objects and uses those as the columns, and then appends data along the
rows for each object in the order given in the list.
A slight variant of this example adds an additional column to one of the DataFrame
objects and then performs the concatenation:

In [108]:
 # copy df2
df2_2 = df2.copy()
# add a column to df2_2 that is not in df1
df2_2.insert(3, 'Foo', pd.Series(0, index=df2.index))
# see what it looks like
df2_2

                   date symbol        open  Foo  colosePrice     low  \
10  2016-01-20 00:00:00   WLTW  109.059998    0   109.300003  108.32
11  2016-01-21 00:00:00   WLTW  109.730003    0   110.000000  108.32
2   2016-01-07 00:00:00   WLTW  116.379997    0   114.949997  114.93

          high     volume
10  111.599998  1653900.0
11  110.580002   944300.0
2   119.739998  2489500.0

In [109]:
# now concatenate
pd.concat([df1, df2_2])

    Foo  colosePrice                 date        high         low        open  \
0   NaN   125.839996  2016-01-05 00:00:00  126.250000  122.309998  123.430000
1   NaN   119.980003  2016-01-06 00:00:00  125.540001  119.940002  125.239998
2   NaN   114.949997  2016-01-07 00:00:00  119.739998  114.930000  116.379997
10  0.0   109.300003  2016-01-20 00:00:00  111.599998  108.320000  109.059998
11  0.0   110.000000  2016-01-21 00:00:00  110.580002  108.320000  109.730003
2   0.0   114.949997  2016-01-07 00:00:00  119.739998  114.930000  116.379997

   symbol     volume
0    WLTW  2163600.0
1    WLTW  2386400.0
2    WLTW  2489500.0
10   WLTW  1653900.0
11   WLTW   944300.0
2    WLTW  2489500.0

Duplicate index labels still result, as the rows are copied verbatim from the source
objects. However, note the NaN values in the rows originating from df1, since it does
not have a Foo column.
Using the keys parameter, it is possible to differentiate the pandas objects from
which the rows originated. The following code adds a level to the index which
represents the source object:

In [110]:
# specify keys
r = pd.concat([df1, df2_2], keys=['df1', 'df2'])
r

        Foo  colosePrice                 date        high         low  \
df1 0   NaN   125.839996  2016-01-05 00:00:00  126.250000  122.309998
    1   NaN   119.980003  2016-01-06 00:00:00  125.540001  119.940002
    2   NaN   114.949997  2016-01-07 00:00:00  119.739998  114.930000
df2 10  0.0   109.300003  2016-01-20 00:00:00  111.599998  108.320000
    11  0.0   110.000000  2016-01-21 00:00:00  110.580002  108.320000
    2   0.0   114.949997  2016-01-07 00:00:00  119.739998  114.930000

              open symbol     volume
df1 0   123.430000   WLTW  2163600.0
    1   125.239998   WLTW  2386400.0
    2   116.379997   WLTW  2489500.0
df2 10  109.059998   WLTW  1653900.0
    11  109.730003   WLTW   944300.0
    2   116.379997   WLTW  2489500.0

We can change the axis of the concatenation to work along the columns by specifying
axis=1, which will calculate the sorted union of the distinct index labels from the
rows and then append columns and their data from the specified objects.
To demonstrate, the following splits the sp500 data into two DataFrame objects, each
with a different set of columns, and then concatenates along axis=1:

In [113]:
# first three rows, columns 0 and 1
df3 = sp500[:3][['open','high']]
df3

         open        high
0  123.430000  126.250000
1  125.239998  125.540001
2  116.379997  119.739998

In [117]:
# first three rows, column 2
df4 = sp500[:3][["open"]]
df4

         open
0  123.430000
1  125.239998
2  116.379997

In [118]:
pd.concat([df3, df4], axis=1)

         open        high        open
0  123.430000  126.250000  123.430000
1  125.239998  125.540001  125.239998
2  116.379997  119.739998  116.379997

We can further examine this operation by adding a column to the second
DataFrame that has a duplicate name to a column in the first. The result will
have duplicate columns, as the columns are blindly appended without regard
to already existing columns:

In [119]:
 # make a copy of df4
df4_2 = df4.copy()
# add a column to df4_2, that is also in df3
df4_2.insert(1, 'Sector', pd.Series(1, index=df4_2.index))
df4_2

         open  Sector
0  123.430000       1
1  125.239998       1
2  116.379997       1

In [120]:
# demonstrate duplicate columns
pd.concat([df3, df4_2], axis=1)

         open        high        open  Sector
0  123.430000  126.250000  123.430000       1
1  125.239998  125.540001  125.239998       1
2  116.379997  119.739998  116.379997       1

To be very specific, pandas is performing an outer join along the labels of the specified
axis. An inner join can be specified using the join='inner' parameter, which
changes the operation from being a sorted union of distinct labels to the distinct
values of the intersection of the labels. To demonstrate, the following selects two
subsets of the financial data with one row in common and performs an inner join:

In [124]:
# first three rows and first two columns
df5 = sp500[:3][["open","high"]]
df5

         open        high
0  123.430000  126.250000
1  125.239998  125.540001
2  116.379997  119.739998

In [126]:
# row 2 through 4 and first two columns
df6 = sp500[2:5][["high",'low']]
df6

         high         low
2  119.739998  114.930000
3  117.440002  113.500000
4  117.330002  114.089996

In [127]:
# inner join on index labels will return in only one row
pd.concat([df5, df6], join='inner', axis=1)

         open        high        high     low
2  116.379997  119.739998  119.739998  114.93

## Adding rows (and columns) via setting with
enlargementAdding rows (and columns) via setting with
enlargement<br><br>
Rows can also be added to a DataFrame through the .loc property. This technique
is referred to as setting with enlargement. The parameter for .loc specifies the
index label where the row is to be placed. If the label does not exist, the values are
appended to the DataFrame using the given index label. If it does exist, then the
values in the specified row are replaced.
The following example takes a subset of sp500 and adds a row with the label FOO:

In [130]:
# get a small subset of the sp500
# make sure to copy the slice to make a copy
ss = sp500[:3].copy()
# create a new row with index label FOO
# and assign some values to the columns via a list
ss['FOO'] = ['the sector', 100, 110]
ss

                  date symbol        open  colosePrice         low  \
0  2016-01-05 00:00:00   WLTW  123.430000   125.839996  122.309998
1  2016-01-06 00:00:00   WLTW  125.239998   119.980003  119.940002
2  2016-01-07 00:00:00   WLTW  116.379997   114.949997  114.930000

         high     volume         FOO
0  126.250000  2163600.0  the sector
1  125.540001  2386400.0         100
2  119.739998  2489500.0         110

It is also possible to add columns in this manner. The following code demonstrates
by adding a new column to a subset of sp500 using .loc. Note that to accomplish
this, we use the colon in the rows' position to select all rows to be included to add
the new column and value:

In [131]:
# copy of subset / slice
ss = sp500[:3].copy()
 # add the new column initialized to 0
ss.loc[:,'PER'] = 0
 # take a look at the results
ss

                  date symbol        open  colosePrice         low  \
0  2016-01-05 00:00:00   WLTW  123.430000   125.839996  122.309998
1  2016-01-06 00:00:00   WLTW  125.239998   119.980003  119.940002
2  2016-01-07 00:00:00   WLTW  116.379997   114.949997  114.930000

         high     volume  PER
0  126.250000  2163600.0    0
1  125.540001  2386400.0    0
2  119.739998  2489500.0    0

Removing rows from a DataFrame
Removing rows from a DataFrame object is normally performed using one of
three techniques:
• Using the .drop() method
• Boolean selection
• Selection using a slice
Technically, only the .drop() method removes rows in-place on the source object.
The other techniques either create a copy without specific rows, or a view into the
rows that are not to be dropped. Details of each are given in the following sections.